﻿@model UsuarioConsulta

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Usuários de Consulta</h2>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Editar</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    @using (Html.BeginForm())
                    {
                        <fieldset>
                            <legend>Usuário de Consulta - Alterar</legend>
                            <div class="row">
                                <div class="col-md-12">
                                    @Html.Raw(TempData["Alertas"])
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Email:</label>
                                        @Html.HiddenFor(x => x.UsuarioConsultaId)
                                        @Html.TextBoxFor(x => x.Email, new { @class = "form-control form-size" })
                                        <span class="help-block">@Html.ValidationMessageFor(x => x.Email)</span>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label class="control-label">Senha:</label>
                                        @Html.PasswordFor(x => x.Senha, new { @class = "form-control form-size" })
                                        <span class="help-block">@Html.ValidationMessageFor(x => x.Senha)</span>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label class="control-label">Confirmar Senha:</label>
                                        @Html.PasswordFor(x => x.ConfirmarSenha, new { @class = "form-control form-size" })
                                        <span class="help-block">@Html.ValidationMessageFor(x => x.ConfirmarSenha)</span>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label class="control-label">Ativo?:</label>
                                        @Html.CheckBoxFor(x => x.IsAtivo, new { @class = "form-control form-size form-checkbox" })
                                        <span class="help-block">@Html.ValidationMessageFor(x => x.IsAtivo)</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="well">
                                        <input type="submit" class="btn btn-primary" value="Salvar" />
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    }
                </div>
            </div>
        </div>
    </div>
</div>