﻿@model Consulta

@{
    ViewBag.AddEdit = (Model.AgenciaId > 0 && Model.ItemFaturavelId > 0) ? "Alterar" : "Adicionar";
}


<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Consulta - @ViewBag.AddEdit</h2>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Editar</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    @using (Html.BeginForm())
                    {
                        <fieldset>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label">Item Faturável:</label>
                                        @Html.DropDownListFor(x => x.ItemFaturavelId, null, new { @class = "form-control form-size" })
                                        <span class="help-block">@Html.ValidationMessageFor(x => x.ItemFaturavelId)</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label">Descrição:</label>
                                        @Html.TextBoxFor(x => x.Descricao, new { @class = "form-control form-size" })
                                        <span class="help-block">@Html.ValidationMessageFor(x => x.Descricao)</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label">Detalhes:</label>
                                        @Html.TextAreaFor(x => x.Detalhe, new { @class = "form-control", @cols = 80, @rows = 10 })
                                        <span class="help-block">@Html.ValidationMessageFor(x => x.Detalhe)</span>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="well">
                                    <input type="submit" class="btn btn-primary" value="Salvar" />
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>