﻿@model Sig.Web.Models.ViewModels.ColaboradorViewModel

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Colaboradores</h2>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Pesquisa</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    @using (Html.BeginForm())
                    {
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Nome:</label>
                                    @Html.TextBoxFor(x => x.Colaborador.Nome, new { @class = "form-control form-size", data_val = false })
                                    <span class="help-block"></span>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label">CPF:</label>
                                    @Html.TextBoxFor(x => x.Colaborador.CPF, new { @class = "form-control form-size", data_val = false })
                                    <span class="help-block"></span>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label">Cargo:</label>
                                    @Html.DropDownListFor(x => x.Colaborador.CargoId, (SelectList)ViewBag.Cargos, "Selecione...", new { @class = "form-control form-size", data_val = false })
                                    <span class="help-block"></span>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label class="control-label">Agência:</label>
                                    @Html.TextBoxFor(x => x.Colaborador.AgenciaId, new { @class = "form-control form-size", data_val = false })
                                    <span class="help-block"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="well">
                                    <input type="submit" class="btn btn-primary" value="Pesquisar" />
                                    @Html.ActionLink("Incluir", "Incluir", null, new { @class = "btn btn-primary" })
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Resultado da pesquisa</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-md-12">
                            <table id="data-table" class="table table-striped table-hover table-bordered">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>ID</th>
                                        <th>Agência</th>
                                        <th>Nome</th>
                                        <th>Celular</th>
                                        <th>Telefone</th>
                                        <th>Cidade</th>
                                        <th>UF</th>
                                        <th>Ações</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.Colaboradores.Count() > 0)
                                    {
                                        int posicao = 1;
                                        foreach (var colaborador in Model.Colaboradores)
                                        {
                                            <tr>
                                                <td>@posicao.ToString()</td>
                                                <td>@Html.DisplayFor(x => colaborador.ColaboradorId)</td>
                                                <td>@Html.DisplayFor(x => colaborador.AgenciaId)</td>
                                                <td>@Html.DisplayFor(x => colaborador.Nome)</td>
                                                <td>(@Html.DisplayFor(x => colaborador.DDDCelular)) @Html.DisplayFor(x => colaborador.Celular)</td>
                                                <td>(@Html.DisplayFor(x => colaborador.DDDTelefone)) @Html.DisplayFor(x => colaborador.Telefone)</td>
                                                <td>@Html.DisplayFor(x => colaborador.Cidade)</td>
                                                <td>@Html.DisplayFor(x => colaborador.UF)</td>
                                                <td>
                                                    @Html.ActionLink("Alterar", "Alterar", new { id = colaborador.ColaboradorId })
                                                </td>
                                            </tr>
                                            posicao++;
                                        }
                                    }
                                    else
                                    {
                                        <tr>
                                            <td colspan="8">Nenhum registro encontrado.</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
