﻿@model Sig.Web.Models.ViewModels.TabelaViewModel
@{
    ViewBag.Title = "Incluir";
}

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $(":input").inputmask();
            $("[name*=ValorUnitario]").maskMoney({ symbol: "", decimal: ",", thousands: "", defaultZero: true, allowZero: true });
        });
    </script>
}


<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Tabela de Preços Especiais</h2>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Editar</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    @using (Html.BeginForm())
                    {
                        
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Descrição da Tabela:</label>
                                        @Html.HiddenFor(x => x.TabelaId)
                                        @Html.TextBoxFor(x => x.Descricao, new { @class = "form-control form-size" })
                                        <span class="help-block">@Html.ValidationMessageFor(x => x.Descricao)</span>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label class="control-label">Consumo Mínimo?:</label>
                                        @Html.CheckBoxFor(x => x.IsConsumo, new { @class = "form-control form-size form-checkbox" })
                                        <span class="help-block"></span>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label class="control-label">Ativa?:</label>
                                        @Html.CheckBoxFor(x => x.IsTabelaAtiva, new { @class = "form-control form-size form-checkbox" })
                                        <span class="help-block"></span>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label class="control-label">Especial?:</label>
                                        @Html.CheckBoxFor(x => x.IsEspecial, new { @class = "form-control form-size form-checkbox" })
                                        <span class="help-block"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <table id="data-table" class="table table-striped table-hover table-bordered">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th>Item Faturável</th>
                                                <th>Qtde Pacote</th>
                                                <th>Valor Unitário</th>
                                                <th>Valor Mínimo</th>
                                                <th>Valor Máximo</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (Model.TabelaItens.Count() > 0)
                                            {
                                                for (int i = 0; i < Model.TabelaItens.Count(); i++)
                                                {
                                                    <tr>
                                                        <td>
                                                            @Html.HiddenFor(x => x.TabelaItens[i].TabelaId)
                                                            @Html.HiddenFor(x => x.TabelaItens[i].ItemFaturavelId)
                                                            @Html.CheckBoxFor(x => x.TabelaItens[i].IsAtivo)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(x => x.TabelaItens[i].Descricao)
                                                        </td>
                                                        <td style="width: 100px;">
                                                            @if (Model.TabelaItens[i].IsPacote)
                                                            {
                                                                @Html.TextBoxFor(x => x.TabelaItens[i].QuantidadePacote, new { @class = "form-control form-size", data_val = false, data_inputmask = "'alias': 'integer', 'rightAlignNumerics': false" })
                                                            }
                                                        </td>
                                                        <td style="width: 110px;">
                                                            @Html.TextBoxFor(x => x.TabelaItens[i].ValorUnitario, new { @class = "form-control form-size", data_valores = string.Format("{0}|{1}|{2}|{3}", Model.TabelaItens[i].ValorUnitario, Model.TabelaItens[i].ValorMinimo, Model.TabelaItens[i].ValorMaximo, Model.TabelaItens[i].ItemFaturavelId), data_val = false })
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(x => x.TabelaItens[i].ValorMinimo)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(x => x.TabelaItens[i].ValorMaximo)
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                            else
                                            {
                                                <tr>
                                                    <td colspan="6">Nenhum registro encontrado.</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="well">
                                        <input type="submit" class="btn btn-primary" value="Alterar" />
                                    </div>
                                </div>
                            </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>