﻿@model Sig.Web.Models.ViewModels.TabelaPesquisaViewModel

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $(":input").inputmask();
        });
    </script>
}


<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Tabelas de Preços</h2>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Pesquisa</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    @using (Html.BeginForm())
                    {
                        <div class="row">
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label class="control-label">Tabela:</label>
                                    @Html.TextBoxFor(x => x.Tabela.TabelaId, new { @class = "form-control form-size", data_inputmask = "'alias': 'integer', 'rightAlignNumerics': false", data_val = false })
                                    <span class="help-block"></span>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label class="control-label">Cliente:</label>
                                    @Html.TextBoxFor(x => x.ClienteId, new { @class = "form-control form-size", data_inputmask = "'alias': 'integer', 'rightAlignNumerics': false", data_val = false })
                                    <span class="help-block"></span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Descrição:</label>
                                    @Html.TextBoxFor(x => x.Tabela.Descricao, new { @class = "form-control form-size", data_val = false })
                                    <span class="help-block"></span>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label class="control-label">Consumo?:</label>
                                    @Html.CheckBoxFor(x => x.Tabela.IsConsumo, new { @class = "form-control form-size form-checkbox", data_val = false })
                                    <span class="help-block"></span>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label class="control-label">Especial?:</label>
                                    @Html.CheckBoxFor(x => x.Tabela.IsEspecial, new { @class = "form-control form-size form-checkbox", data_val = false })
                                    <span class="help-block"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="well">
                                    <input type="submit" class="btn btn-primary" value="Pesquisar" />
                                    @Html.ActionLink("Incluir", "Incluir", null, new { @class = "btn btn-primary" })
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Resultado da pesquisa</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-md-12">
                            <table id="data-table" class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Tabela</th>
                                        <th>Descrição</th>
                                        <th>Consumo?</th>
                                        <th>Especial?</th>
                                        <th>Ações</th>
                                        <th>Copiar</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.Tabelas != null)
                                    {
                                        if (Model.Tabelas.Count() > 0)
                                        {
                                            int posicao = 1;
                                            foreach (var tabela in Model.Tabelas)
                                            {
                                                <tr class="active">
                                                    <td>@posicao.ToString()</td>
                                                    <td>@Html.DisplayFor(x => tabela.TabelaId)</td>
                                                    <td>@Html.DisplayFor(x => tabela.Descricao)</td>
                                                    <td>@Html.DisplayFor(x => tabela.IsConsumo)</td>
                                                    <td>@Html.DisplayFor(x => tabela.IsEspecial)</td>
                                                    <td>
                                                        @if (tabela.IsEspecial)
                                                        {
                                                            @Html.ActionLink("Alterar", "AlterarEspecial", new { id = tabela.TabelaId })
                                                        }
                                                        else
                                                        {
                                                            @Html.ActionLink("Alterar", "Alterar", new { id = tabela.TabelaId })
                                                        }
                                                    </td>
                                                    <td>
                                                        @Html.ActionLink("Copiar", "Copiar", new { id = tabela.TabelaId })
                                                    </td>
                                                </tr>
                                                posicao++;
                                            }
                                        }
                                        else
                                        {
                                            <tr>
                                                <td colspan="7">Nenhum registro encontrado.</td>
                                            </tr>
                                        }
                                    }
                                    else
                                    {
                                        <tr>
                                            <td colspan="7">Nenhum registro encontrado.</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>