﻿@model Sig.Web.Models.TransacaoConsulta

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $(":input").inputmask();
        });
    </script>
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Transações de Consultas - Incluir</h2>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Adicionar</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    @using (Html.BeginForm())
                    {
                        <fieldset>
                            <legend>Cliente</legend>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label">Cliente:</label>
                                        @Html.DropDownListFor(x => x.ClienteId, null, new { @class = "form-control form-size" })
                                        <span class="help-block">@Html.ValidationMessageFor(x => x.ClienteId)</span>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <legend>Item Faturável</legend>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label">Item Faturável:</label>
                                        @Html.DropDownListFor(x => x.ItemFaturavelId, null, new { @class = "form-control form-size" })
                                        <span class="help-block">@Html.ValidationMessageFor(x => x.ItemFaturavelId)</span>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <legend></legend>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Quantidade:</label>
                                        @Html.TextBoxFor(x => x.Quantidade, new { @class = "form-control form-size", data_inputmask = "'alias': 'integer', 'rightAlignNumerics': false" })
                                        <span class="help-block">@Html.ValidationMessageFor(x => x.Quantidade)</span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Data:</label>
                                        @Html.TextBoxFor(x => x.DataEnvio, new { @class = "form-control form-size", data_inputmask = "'alias': 'date', 'clearIncomplete': true" })
                                        <span class="help-block">@Html.ValidationMessageFor(x => x.DataEnvio)</span>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="well">
                                    <input type="submit" class="btn btn-primary" value="Salvar" />
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>