﻿@model Sig.Web.Models.ViewModels.RelatorioClienteViewModel

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $(":input").inputmask();
        });
    </script>
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Relatório de Agencias</h2>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Pesquisa</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    @using (Html.BeginForm())
                    {
                        <div class="row">
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label class="control-label">Agência:</label>
                                    @Html.TextBoxFor(x => x.Cliente.ClienteId, new { @class = "form-control form-size", data_inputmask = "'alias': 'integer', 'rightAlignNumerics': false", data_val = false })
                                    <span class="help-block"></span>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="form-group">
                                    <label class="control-label">Nome Fantasia:</label>
                                    @Html.TextBoxFor(x => x.Cliente.Nome, new { @class = "form-control form-size", data_val = false })
                                    <span class="help-block"></span>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="form-group">
                                    <label class="control-label">Razão Social:</label>
                                    @Html.TextBoxFor(x => x.Cliente.RazaoSocial, new { @class = "form-control form-size", data_val = false })
                                    <span class="help-block"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-7">
                                <div class="form-group">
                                    <label class="control-label">Bairro:</label>
                                    @Html.TextBoxFor(x => x.Endereco.Bairro, new { @class = "form-control form-size", data_val = false })
                                    <span class="help-block"></span>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="form-group">
                                    <label class="control-label">Cidade:</label>
                                    @Html.TextBoxFor(x => x.Endereco.Cidade, new { @class = "form-control form-size", data_val = false })
                                    <span class="help-block"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="well">
                                    <input type="submit" class="btn btn-primary" value="Pesquisar" />
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Resultado da pesquisa</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-md-12">
                            <table id="data-table" class="table table-striped table-hover table-bordered">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Tipo</th>
                                        <th>Codigo</th>
                                        <th>Documento</th>
                                        <th>Nome</th>
                                        <th>Razão Social</th>
                                        <th>Email</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model != null)
                                    {
                                        if (Model.Clientes.Count() > 0)
                                        {
                                            int posicao = 1;
                                            foreach (var cliente in Model.Clientes)
                                            {
                                                <tr>
                                                    <td>@posicao.ToString()</td>
                                                    <td><span class="label label-info">@cliente.TipoCliente</span></td>
                                                    <td>@Html.DisplayFor(x => cliente.ClienteId)</td>
                                                    <td>@Html.DisplayFor(x => cliente.CPFCNPJ)</td>
                                                    <td>@Html.DisplayFor(x => cliente.Nome)</td>
                                                    <td>@Html.DisplayFor(x => cliente.RazaoSocial)</td>
                                                    <td>@Html.DisplayFor(x => cliente.Email)</td>
                                                </tr>
                                                posicao++;
                                            }
                                        }
                                        else
                                        {
                                            <tr>
                                                <td colspan="7">Nenhum registro encontrado.</td>
                                            </tr>
                                        }
                                    }
                                    else
                                    {
                                        <tr>
                                            <td colspan="7">Nenhum registro encontrado.</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>