﻿@model IEnumerable<Sig.Web.Models.ViewModels.Relatorios.AnaliseFaturamentoViewModel>
@{
    ViewBag.Title = "AnaliseFaturamento";
    Layout = null;
}

@*@Styles.Render("~/Content/themes/base/css")
    @Styles.Render("~/Content/css")*@

<style type="text/css">
    body {
        padding: 10px !important;
    }

    #data-table {
        font-size: 11px !important;
    }
</style>

<fieldset>
    <legend>Relatório Análise de Faturamento</legend>
    <div class="row">
        <div class="col-md-12">
            <table id="data-table" class="table table-bordered">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Fatura</th>
                        <th>Cliente</th>
                        <th>Nome Cliente</th>
                        <th>Agente</th>
                        <th>Nome Agente</th>
                        <th>Vlr Bruto</th>

                        @if (User.IsInRole("Administradora"))
                        {
                            <th>Vlr Custo</th>
                            <th>Vlr Custo Revenda</th>
                        }
                        else
                        {
                            <th>Vlr Custo</th>
                        }

                        <th>Agente %</th>
                        <th>Adm %</th>
                        <th>Rep Pot Agente</th>
                        <th>Rep Real</th>
                        @if (User.IsInRole("Administradora"))
                        {
                            <th>Lc Adm</th>
                        }
                        <th>Ret Total</th>
                        <th>Dt Vecto</th>
                        <th>Dt Pagto</th>
                        <th>Vlr Pago</th>
                        <th>Boleto</th>
                        <th>Detalhes</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Count() > 0)
                    {
                        decimal faturamentoBrutoSubTotal = 0;
                        decimal faturamentoCustoSubTotal = 0;
                        decimal faturamentoCustoRevendaSubTotal = 0;
                        decimal valorPagoSubtotal = 0;
                        decimal retencaoAgenteSubTotal = 0;
                        decimal retencaoAdministradoraSubTotal = 0;
                        decimal retencaoSubTotal = 0;
                        decimal lucroAdministradoraSubTotal = 0;
                        decimal repasseRealSubTotal = 0;

                        decimal faturamentoBrutoTotal = 0;
                        decimal faturamentoCustoTotal = 0;
                        decimal faturamentoCustoRevendaTotal = 0;
                        decimal valorPagoTotal = 0;
                        decimal retencaoAgenteTotal = 0;
                        decimal retencaoAdministradoraTotal = 0;
                        decimal retencaoTotal = 0;
                        decimal lucroAdministradoraTotal = 0;
                        decimal repasseRealTotal = 0;

                        int posicao = 0;
                        int agenciaId = 0;
                        int posicaoTotal = Model.Count();

                        foreach (var fatura in Model)
                        {
                            <!-- SUBTOTAL -->
                            if (agenciaId != fatura.AgenciaId && posicao > 0)
                            {
                                <tr style="font-weight: bold; background-color: #fff6b3">

                                    @if (User.IsInRole("Administradora"))
                                    {
                                        <td colspan="6">TOTAL AGÊNCIA:</td>
                                    }
                                    else
                                    {
                                        <td colspan="6">TOTAL AGÊNCIA:</td>
                                    }

                                    <td>@faturamentoBrutoSubTotal.ToString("c")</td>

                                    @if (User.IsInRole("Administradora"))
                                    {
                                        <td>@faturamentoCustoSubTotal.ToString("c")</td>
                                        <td>@faturamentoCustoRevendaSubTotal.ToString("c")</td>
                                    }
                                    else
                                    {
                                        if (fatura.IsRevenda)
                                        {
                                            <td>@faturamentoCustoRevendaSubTotal.ToString("c")</td>
                                        }
                                        else
                                        {
                                            <td>@faturamentoCustoSubTotal.ToString("c")</td>
                                        }
                                    }

                                    <td></td>
                                    <td></td>
                                    <td>@retencaoAgenteSubTotal.ToString("c")</td>
                                    <td>@repasseRealSubTotal.ToString("c")</td>
                                    @if (User.IsInRole("Administradora"))
                                    {
                                        <td>@lucroAdministradoraSubTotal.ToString("c")</td>
                                    }
                                    <td>@retencaoSubTotal.ToString("c")</td>
                                    <td></td>
                                    <td></td>
                                    <td>@valorPagoSubtotal.ToString("c")</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>

                                faturamentoBrutoSubTotal = 0;
                                faturamentoCustoSubTotal = 0;
                                faturamentoCustoRevendaSubTotal = 0;
                                valorPagoSubtotal = 0;
                                retencaoAgenteSubTotal = 0;
                                retencaoAdministradoraSubTotal = 0;
                                retencaoSubTotal = 0;
                                lucroAdministradoraSubTotal = 0;
                                repasseRealSubTotal = 0;
                            }

                            <!-- CABECALHO -->
                            if (agenciaId != fatura.AgenciaId)
                            {
                                <tr style="background-color: #f1f1f1">
                                    @if (User.IsInRole("Administradora"))
                                    {
                                        <td colspan="21">
                                            <strong><a href="#a-@fatura.AgenciaId" class="action" id="a-@fatura.AgenciaId">+ @Html.DisplayFor(x => fatura.Agencia)</a></strong>
                                        </td>
                                    }
                                    else
                                    {
                                        <td colspan="18">
                                            <strong><a href="#a-@fatura.AgenciaId" class="action" id="a-@fatura.AgenciaId">+ @Html.DisplayFor(x => fatura.Agencia)</a></strong>
                                        </td>
                                    }
                                </tr>
                            }

                            <tr class="child @fatura.AgenciaId">
                                <td>@posicao.ToString()</td>
                                <td>@Html.DisplayFor(x => fatura.FaturamentoId)</td>
                                <td>@Html.DisplayFor(x => fatura.ClienteId)</td>
                                <td>@Html.DisplayFor(x => fatura.Cliente)</td>
                                <td>@Html.DisplayFor(x => fatura.AgenciaId)</td>
                                <td>@Html.DisplayFor(x => fatura.Agencia)</td>
                                <td>@Html.DisplayFor(x => fatura.FaturamentoBruto)</td>

                                @if (User.IsInRole("Administradora"))
                                {
                                    <td>@Html.DisplayFor(x => fatura.FaturamentoCusto)</td>
                                    <td>@Html.DisplayFor(x => fatura.FaturamentoCustoRevenda)</td>
                                }
                                else
                                {
                                    if (fatura.IsRevenda)
                                    {
                                        <td>@Html.DisplayFor(x => fatura.FaturamentoCustoRevenda)</td>
                                    }
                                    else
                                    {
                                        <td>@Html.DisplayFor(x => fatura.FaturamentoCusto)</td>
                                    }
                                }

                                <td>@Html.DisplayFor(x => fatura.ComissaoAgente)</td>
                                <td>@Html.DisplayFor(x => fatura.ComissaoAdministradora)</td>
                                <td>@Html.DisplayFor(x => fatura.RetencaoAgente)</td>
                                <td>@Html.DisplayFor(x => fatura.RepasseReal)</td>

                                @if (User.IsInRole("Administradora"))
                                {
                                    <td>@Html.DisplayFor(x => fatura.LucroAdministradora)</td>
                                }

                                <td>@Html.DisplayFor(x => fatura.RetencaoTotal)</td>
                                <td>@fatura.DataVencimento.ToShortDateString()</td>
                                <td>@Html.DisplayFor(x => fatura.DataPagamento)</td>
                                <td>@Html.DisplayFor(x => fatura.ValorPago)</td>
                                @*<td>@Html.ActionLink("Boleto", "AnaliseFaturamentoBoleto", new { id = fatura.FaturamentoId })</td>*@
                                <td><a href="@fatura.LinkBoleto" target="_blank">Boleto</a></td>
                                <td>@Html.ActionLink("Detalhes", "AnaliseFaturamentoDetalhe", new { id = fatura.FaturamentoId })</td>
                                <td></td>

                            </tr>

                            posicao++;
                            faturamentoBrutoTotal += fatura.FaturamentoBruto;
                            faturamentoCustoTotal += fatura.FaturamentoCusto;
                            faturamentoCustoRevendaTotal += fatura.FaturamentoCustoRevenda;
                            valorPagoTotal += fatura.ValorPago;
                            retencaoAgenteTotal += fatura.RetencaoAgente;
                            retencaoAdministradoraTotal += fatura.RetencaoAdministradora;
                            retencaoTotal += fatura.RetencaoTotal;
                            lucroAdministradoraTotal += fatura.LucroAdministradora;
                            repasseRealTotal += fatura.RepasseReal;

                            faturamentoBrutoSubTotal += fatura.FaturamentoBruto;
                            faturamentoCustoSubTotal += fatura.FaturamentoCusto;
                            faturamentoCustoRevendaSubTotal += fatura.FaturamentoCustoRevenda;
                            valorPagoSubtotal += fatura.ValorPago;
                            retencaoAgenteSubTotal += fatura.RetencaoAgente;
                            retencaoAdministradoraSubTotal += fatura.RetencaoAdministradora;
                            retencaoSubTotal += fatura.RetencaoTotal;
                            lucroAdministradoraSubTotal += fatura.LucroAdministradora;
                            repasseRealSubTotal += fatura.RepasseReal;

                            agenciaId = fatura.AgenciaId;

                            <!-- FINAL SUBTOTAL -->
                            if (posicao == posicaoTotal)
                            {
                                <tr style="font-weight: bold; background-color: #fff6b3">
                                    <td colspan="6">TOTAL AGÊNCIA:</td>
                                    <td>@faturamentoBrutoSubTotal.ToString("c")</td>

                                    @if (User.IsInRole("Administradora"))
                                    {
                                        <td>@faturamentoCustoSubTotal.ToString("c")</td>
                                        <td>@faturamentoCustoRevendaSubTotal.ToString("c")</td>
                                    }
                                    else
                                    {
                                        if (fatura.IsRevenda)
                                        {
                                            <td>@faturamentoCustoRevendaSubTotal.ToString("c")</td>
                                        }
                                        else
                                        {
                                            <td>@faturamentoCustoSubTotal.ToString("c")</td>
                                        }
                                    }

                                    <td></td>
                                    <td></td>
                                    <td>@retencaoAgenteSubTotal.ToString("c")</td>
                                    <td>@repasseRealSubTotal.ToString("c")</td>
                                    @if (User.IsInRole("Administradora"))
                                    {
                                        <td>@lucroAdministradoraSubTotal.ToString("c")</td>
                                    }
                                    <td>@retencaoSubTotal.ToString("c")</td>
                                    <td></td>
                                    <td></td>
                                    <td>@valorPagoSubtotal.ToString("c")</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>

                                faturamentoBrutoSubTotal = 0;
                                faturamentoCustoSubTotal = 0;
                                faturamentoCustoRevendaSubTotal = 0;
                                retencaoAgenteSubTotal = 0;
                                retencaoAdministradoraSubTotal = 0;
                                retencaoSubTotal = 0;
                                lucroAdministradoraSubTotal = 0;
                                repasseRealSubTotal = 0;
                            }
                        }

                        <tr style="font-weight: bold; background-color: #e5e5e5">
                            <td colspan="6">TOTAL GERAL:</td>
                            <td>@faturamentoBrutoTotal.ToString("c")</td>

                            @if (User.IsInRole("Administradora"))
                            {
                                <td>@faturamentoCustoTotal.ToString("c")</td>
                                <td>@faturamentoCustoRevendaTotal.ToString("c")</td>
                            }
                            else
                            {
                                <td>@faturamentoCustoRevendaTotal.ToString("c")</td>
                            }

                            <td></td>
                            <td></td>
                            <td>@retencaoAgenteTotal.ToString("c")</td>
                            <td>@repasseRealTotal.ToString("c")</td>
                            @if (User.IsInRole("Administradora"))
                            {
                                <td>@lucroAdministradoraTotal.ToString("c")</td>
                            }
                            <td>@retencaoTotal.ToString("c")</td>
                            <td></td>
                            <td></td>
                            <td>@valorPagoTotal.ToString("c")</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>

                    }
                    else
                    {
                        <tr>
                            @if (User.IsInRole("Administradora"))
                            {
                                <td colspan="21">Nenhum registro encontrado.</td>
                            }
                            else
                            {
                                <td colspan="18">Nenhum registro encontrado.</td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
            <p>Relatório emitido em: @DateTime.Now</p>
            <p>@Html.ActionLink("Voltar para pesquisa", "AnaliseFaturamentoConsulta")</p>
            @using (Html.BeginForm("AnaliseFaturamentoPdf", "Relatorio", FormMethod.Post))
            {
                <div class="row">
                    <div class="col-md-12">
                        <div class="well">
                            @Html.Hidden("DataInicial", TempData["DataInicial"])
                            @Html.Hidden("DataFinal", TempData["DataFinal"])
                            <input type="submit" class="btn btn-primary" value="PDF" />
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</fieldset>

<script src="~/bundles/jquery"></script>
<script src="~/bundles/jqueryval"></script>
<script src="~/bundles/jqueryui"></script>
<script src="~/bundles/agencia"></script>
<script type="text/javascript">
    $().ready(function () {
        $('.child').hide();
        $('.action').click(function () {
            var id = $(this).attr('id');
            id = id.split('-');
            $("." + id[1]).toggle();
        });
    });
</script>
