﻿@model Sig.Web.Areas.Agencias.Models.ViewModels.Relatorio.AnaliseFaturamentoDetalheViewModel

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Relatório Análise de Faturamento - Detalhamento</h2>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Relatório</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel">
                                <p>CLIENTE: <strong>@Model.Faturamento.ClienteId</strong></p>
                                <p>CONFIDENCIAL PARA: <strong>@Model.Faturamento.Cliente.RazaoSocial</strong></p>
                                <p>CNPJ: <strong> @Model.Faturamento.Cliente.CPFCNPJ</strong></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Resultado da pesquisa</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-md-12">
                            <table id="data-table" class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Fatura</th>
                                        <th>Item</th>
                                        <th>Quantidade</th>
                                        <th>Valor Unitário</th>
                                        <th>Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.FaturamentoItens.Count() > 0)
                                    {
                                        decimal valorTotalHorizontal = 0;
                                        decimal valorTotalVertical = 0;

                                        foreach (var item in Model.FaturamentoItens)
                                        {
                                            valorTotalHorizontal = item.ValorUnitario * item.Quantidade;
                                            <tr>
                                                <td>@Html.DisplayFor(x => item.FaturamentoId)</td>
                                                <td>@Html.DisplayFor(x => item.ItemFaturavel.Descricao)</td>
                                                <td>@Html.DisplayFor(x => item.Quantidade)</td>
                                                <td>@item.ValorUnitario.ToString("c")</td>
                                                <td>@valorTotalHorizontal.ToString("c")</td>
                                            </tr>
                                            valorTotalVertical += valorTotalHorizontal;
                                        }

                                        <tr>
                                            <td colspan="4"></td>
                                            <td>
                                                <strong>@valorTotalVertical.ToString("c")</strong>
                                            </td>
                                        </tr>
                                    }
                                    else
                                    {
                                        <tr>
                                            <td colspan="15">Nenhum registro encontrado.</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
