﻿@model IEnumerable<Sig.Web.Models.ViewModels.RelatorioAnaliseFaturamentoViewModel>
@{
    Layout = null;
}

@*@Styles.Render("~/Content/themes/base/css")
    @Styles.Render("~/Content/css")*@
<style type="text/css">
    #data-table {
        font-size: 11px !important;
    }
</style>


<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Abálise de Faturamento</h2>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Resultado da pesquisa</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-md-12">
                            <fieldset>
                                <legend>Relatório Análise de Faturamento</legend>
                                <div class="row">
                                    <div class="col-md-12">
                                        <table id="data-table" class="table table-striped table-hover table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Cliente</th>
                                                    <th>Nome Cliente</th>
                                                    <th>Agente</th>
                                                    <th>Nome Agente</th>
                                                    <th>Valor Custo</th>
                                                    <th>Valor Bruto</th>
                                                    <th>Agente %</th>
                                                    <th>Administradora %</th>
                                                    <th>Retenção Agente</th>
                                                    <th>Retenção Adm</th>
                                                    <th>Retenção Total</th>
                                                    <th>Data Vecto</th>
                                                    <th>Data Pagto</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @if (Model.Count() > 0)
                                                {
                                                    int posicao = 1;
                                                    foreach (var fatura in Model)
                                                    {
                                                        <tr>
                                                            <td>@posicao.ToString()</td>
                                                            <td>@Html.DisplayFor(x => fatura.ClienteId)</td>
                                                            <td>@Html.DisplayFor(x => fatura.Cliente)</td>
                                                            <td>@Html.DisplayFor(x => fatura.AgenciaId)</td>
                                                            <td>@Html.DisplayFor(x => fatura.Agencia)</td>
                                                            <td>@Html.DisplayFor(x => fatura.FaturamentoCusto)</td>
                                                            <td>@Html.DisplayFor(x => fatura.FaturamentoBruto)</td>
                                                            <td>@Html.DisplayFor(x => fatura.ComissaoAgente)</td>
                                                            <td>@Html.DisplayFor(x => fatura.ComissaoAdministradora)</td>
                                                            <td>@Html.DisplayFor(x => fatura.RetencaoAgente)</td>
                                                            <td>@Html.DisplayFor(x => fatura.RetencaoAdministradora)</td>
                                                            <td>@Html.DisplayFor(x => fatura.RetencaoTotal)</td>
                                                            <td>@fatura.DataVencimento.ToShortDateString()</td>
                                                            <td>@Html.DisplayFor(x => fatura.DataPagamento)</td>



                                                        </tr>
                                                        posicao++;
                                                    }
                                                }
                                                else
                                                {
                                                    <tr>
                                                        <td colspan="14">Nenhum registro encontrado.</td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>