﻿@model IEnumerable<TransacaoConsulta>

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Relatório de Consultas Realizadas</h2>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Resultado da pesquisa</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-md-12">
                            <table width="100%" class="table table-striped table-hover table-bordered">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Agência</th>
                                        <th>Usuário</th>
                                        <th>Cliente</th>
                                        <th>Item Faturável</th>
                                        <th>NSU</th>
                                        <th>Data Envio</th>
                                        <th>Data Resposta</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model != null)
                                    {
                                        if (Model.Count() > 0)
                                        {
                                            int posicao = 1;
                                            foreach (var transacao in Model)
                                            {
                                                <tr>
                                                    <td>@posicao.ToString()</td>
                                                    <td>@Html.DisplayFor(x => transacao.Cliente.AgenciaId)</td>
                                                    <td>@Html.DisplayFor(x => transacao.UsuarioConsulta.Email)</td>
                                                    <td>@Html.DisplayFor(x => transacao.Cliente.Nome)</td>
                                                    <td>@Html.DisplayFor(x => transacao.ItemFaturavel.Descricao)</td>
                                                    <td>@Html.DisplayFor(x => transacao.NSU)</td>
                                                    <td>@Html.DisplayFor(x => transacao.DataEnvio)</td>
                                                    <td>@Html.DisplayFor(x => transacao.DataResposta)</td>
                                                </tr>
                                                posicao++;
                                            }
                                        }
                                        else
                                        {
                                            <tr>
                                                <td colspan="8">Nenhum registro encontrado.</td>
                                            </tr>
                                        }
                                    }
                                    else
                                    {
                                        <tr>
                                            <td colspan="8">Nenhum registro encontrado.</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>