﻿@model Sig.Web.Models.ViewModels.Relatorios.ConsultasRealizadasViewModel

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $(":input").inputmask();
        });

        function getPdf() {
            var url = "@Url.Action("ConsultasRealizadasPdf")";
            $("form").attr("action", url).submit();
        }
    </script>
}


<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Relatório de Consultas Realizadas</h2>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Pesquisa</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    @using (Html.BeginForm())
                    {
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Cliente:</label>
                                    @Html.TextBoxFor(x => x.ClienteId, new { @class = "form-control form-size", data_inputmask = "'alias': 'integer', 'rightAlignNumerics': false" })
                                    <span class="help-block"></span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Data Inicial:</label>
                                    @Html.TextBoxFor(x => x.DataInicial, new { @class = "form-control form-size", data_inputmask = "'alias': 'date', 'clearIncomplete': true" })
                                    <span class="help-block"></span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Data Final:</label>
                                    @Html.TextBoxFor(x => x.DataFinal, new { @class = "form-control form-size", data_inputmask = "'alias': 'date', 'clearIncomplete': true" })
                                    <span class="help-block"></span>
                                </div>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="well">
                                    <input type="submit" class="btn btn-primary" value="Pesquisar" />
                                    <a href="#" class="btn btn-primary" onclick="getPdf();">Exportar EXCEL</a>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Resultado da pesquisa</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-md-12">
                            <table id="data-table" class="table table-striped table-hover table-bordered">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Agência</th>
                                        <th>Usuário</th>
                                        <th>Cliente</th>
                                        <th>Item Faturável</th>
                                        <th>NSU</th>
                                        <th>Data Envio</th>
                                        <th>Data Resposta</th>
                                        <th>Chave</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model != null && Model.TransacoesConsultas != null)
                                    {
                                        if (Model.TransacoesConsultas.Count() > 0)
                                        {
                                            int posicao = 1;
                                            foreach (var transacao in Model.TransacoesConsultas)
                                            {
                                                <tr>
                                                    <td>@posicao.ToString()</td>
                                                    <td>@Html.DisplayFor(x => transacao.Cliente.AgenciaId)</td>
                                                    <td>@Html.DisplayFor(x => transacao.UsuarioConsulta.Email)</td>
                                                    <td>@Html.DisplayFor(x => transacao.Cliente.Nome)</td>
                                                    <td>@Html.DisplayFor(x => transacao.ItemFaturavel.Descricao)</td>
                                                    <td>@Html.DisplayFor(x => transacao.NSU)</td>
                                                    <td>@Html.DisplayFor(x => transacao.DataEnvio)</td>
                                                    <td>@Html.DisplayFor(x => transacao.DataResposta)</td>
                                                    <td>@Html.DisplayFor(x => transacao.ChaveConsulta)</td>

                                                    @if (transacao.NSUOrigem.HasValue)
                                                    {
                                                        <td>Filtro da Consulta @transacao.NSUOrigem</td>
                                                    }
                                                    else
                                                    {
                                                        <td>@Html.ActionLink("Resposta", "ConsultasRealizadasDetalhe", new { id = transacao.NSU })</td>
                                                    }
                                                </tr>
                                                posicao++;
                                            }
                                        }
                                        else
                                        {
                                            <tr>
                                                <td colspan="9">Nenhum registro encontrado.</td>
                                            </tr>
                                        }
                                    }
                                    else
                                    {
                                        <tr>
                                            <td colspan="9">Nenhum registro encontrado.</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

