﻿@model TransacaoConsulta
@{
    ViewBag.Title = "Detalhe da Consulta";
}

@*@section styles{
    @Styles.Render("~/Content/Serasa.css")
}*@

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#btnImprimir').click(function () {
                $('.areaImpressao').printElement();
            });
        });
    </script>
}

@if (!string.IsNullOrEmpty(Model.DadosResposta))
{
    <div class="panel-body areaImpressao">
        <div class="row">
            <div class="col-md-12">
                <p>Código: @Model.NSU</p>
                @Html.Raw(Model.DadosResposta)
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div style="text-align: center; padding: 20px;">
                    <input type="button" value="Imprimir Resposta" id="btnImprimir" class="btn btn-primary" />
                </div>
            </div>
        </div>
    </div>
}

