﻿@model Sig.Web.Models.ViewModels.Relatorios.ContasRecebidasViewModel

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $(":input").inputmask();
        });
    </script>
}


<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Relatório de Contas Recebidas</h2>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Pesquisa</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    @using (Html.BeginForm())
                    {
                        <div class="row">
                            <div class="col-md-10">
                                <div class="form-group">
                                    <label class="control-label">Data Inicial Faturamento: (Referência)</label>
                                    @Html.TextBoxFor(x => x.DataInicialFaturamento, new { @class = "form-control form-size", data_inputmask = "'alias': 'date', 'clearIncomplete': true" })
                                    <span class="help-block"></span>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label class="control-label">Agência:</label>
                                    @Html.TextBoxFor(x => x.AgenciaId, new { @class = "form-control form-size", data_inputmask = "'alias': 'integer', 'rightAlignNumerics': false" })
                                    <span class="help-block"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="well">
                                    <input type="submit" class="btn btn-primary" value="Pesquisar" />
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Resultado da pesquisa</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-md-12">
                            <table id="data-table" class="table table-striped table-hover table-bordered">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Fatura</th>
                                        <th>Agência</th>
                                        <th>Cliente</th>
                                        <th>Nome</th>
                                        <th>Valor</th>
                                        <th>Vencimento</th>
                                        <th>Telefones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model != null && Model.Faturamentos.Count() > 0)
                                    {
                                        decimal total = 0;
                                        int posicao = 1;
                                        foreach (var faturamento in Model.Faturamentos)
                                        {
                                            <tr class="active">
                                                <td>@posicao.ToString()</td>
                                                <td>@Html.DisplayFor(X => faturamento.FaturamentoId)</td>
                                                <td>@Html.DisplayFor(x => faturamento.Cliente.AgenciaId)</td>
                                                <td>@Html.DisplayFor(x => faturamento.Cliente.ClienteId)</td>
                                                <td>@Html.DisplayFor(x => faturamento.Cliente.Nome)</td>
                                                <td>@faturamento.ValorOriginal.ToString("c")</td>
                                                <td>@faturamento.DataVencimento.ToShortDateString()</td>
                                                @if (faturamento.Cliente.Telefones != null)
                                                {
                                                    if (faturamento.Cliente.Telefones.Count > 0)
                                                    {

                                                        <td>
                                                            @foreach (var telefone in faturamento.Cliente.Telefones)
                                                            {
                                                                <p>(@telefone.DDD) @telefone.Numero</p>
                                                            }
                                                        </td>
                                                    }
                                                }

                                            </tr>
                                            total += faturamento.ValorOriginal;
                                            posicao++;
                                        }

                                        <tr>
                                            <td colspan="5"><strong>TOTAL:</strong></td>
                                            <td><strong>@total.ToString("c")</strong></td>
                                            <td colspan="2"></td>
                                        </tr>
                                    }
                                    else
                                    {
                                        <tr>
                                            <td colspan="9">Nenhum registro encontrado.</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

