﻿@model Sig.Web.Models.ViewModels.Relatorios.ProspectosViewModel

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Clientes Prospectos</h2>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Pesquisa</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    @using (Html.BeginForm())
                    {
                        <div class="row">
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label class="control-label">Agência:</label>
                                    @Html.TextBoxFor(x => x.AgenciaId, new { @class = "form-control form-size", data_val = false })
                                    <span class="help-block"></span>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div class="form-group">
                                    <label class="control-label">Cidade:</label>
                                    @Html.TextBoxFor(x => x.Cidade, new { @class = "form-control form-size", data_val = false })
                                    <span class="help-block"></span>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label">UF:</label>
                                    @Html.DropDownListFor(x => x.UF, (SelectList)ViewBag.Estados, "Selecione...", new { @class = "form-control form-size" })
                                    <span class="help-block"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="well">
                                    <input type="submit" class="btn btn-primary" value="Pesquisar" />
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Resultado da pesquisa</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-md-12">
                            <table id="data-table" class="table table-striped table-hover table-bordered">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Cliente</th>
                                        <th>Agência</th>
                                        <th>Nome</th>
                                        <th>Razão Social</th>
                                        <th>Cidade</th>
                                        <th>UF</th>
                                        <th>Telefone</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model != null && Model.Clientes.Count() > 0)
                                    {
                                        int posicao = 1;
                                        foreach (var cliente in Model.Clientes)
                                        {
                                            <tr>
                                                <td>@posicao.ToString()</td>
                                                <td>@Html.DisplayFor(x => cliente.ClienteId)</td>
                                                <td>@Html.DisplayFor(x => cliente.AgenciaId)</td>
                                                <td>@Html.DisplayFor(x => cliente.Nome)</td>
                                                <td>@Html.DisplayFor(x => cliente.RazaoSocial)</td>

                                                @if (cliente.Enderecos.Count > 0)
                                                {

                                                    <td>@Html.DisplayFor(x => cliente.Enderecos[0].Cidade)</td>
                                                    <td>@Html.DisplayFor(x => cliente.Enderecos[0].UF)</td>
                                                }
                                                else
                                                {
                                                    <td></td>
                                                    <td></td>
                                                }

                                                @if (cliente.Telefones.Count > 0)
                                                {
                                                    <td>(@Html.DisplayFor(x => cliente.Telefones[0].DDD)) @Html.DisplayFor(x => cliente.Telefones[0].Numero)</td>
                                                }
                                                else
                                                {
                                                    <td></td>
                                                }
                                            </tr>
                                            posicao++;
                                        }
                                    }
                                    else
                                    {
                                        <tr>
                                            <td colspan="8">Nenhum registro encontrado.</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>