﻿@model IEnumerable<Sig.Web.Models.Assunto>

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Assuntos</h2>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Ações</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">

                    <div class="row">
                        <div class="col-md-12">
                            <div class="well">
                                <a asp-action="Editar" class="btn btn-default btn-sm">Incluir</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Resultado da pesquisa</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-md-12">
                            <table id="data-table" class="table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>ID</th>
                                        <th>Descrição</th>
                                        <th>Ações</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.Count() > 0)
                                    {
                                        int posicao = 1;
                                        foreach (var assunto in Model)
                                        {
                                            <tr>
                                                <td>@posicao.ToString()</td>
                                                <td>@Html.DisplayFor(x => assunto.AssuntoId)</td>
                                                <td>@Html.DisplayFor(x => assunto.Descricao)</td>
                                                <td>
                                                    @Html.ActionLink("Editar", "Editar", new { id = assunto.AssuntoId })
                                                </td>
                                            </tr>
                                            posicao++;
                                        }
                                    }
                                    else
                                    {
                                        <tr>
                                            <td colspan="4">Nenhum registro encontrado.</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





