﻿@model Configuracao

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Configuração - Incluir Nova Configuração</h2>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Adicionar</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    @using (Html.BeginForm("Alterar", "Configuracao", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {

                        @Html.HiddenFor(x => x.ConfiguracaoId)
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label">Logomarca:</label>
                                    @Html.TextBoxFor(x => x.Logomarca, new { @class = "form-control form-size", type = "file" })
                                    <span class="help-block">@Html.ValidationMessageFor(x => x.Logomarca)</span>
                                </div>
                            </div>
                        </div>

                        <fieldset>
                            <legend>Configuração Sistema (NÃO MEXER: USO EXCLUSIVO DESENVOLVEDOR)</legend>
                            <div class="row">
                                <div class="col-md-10">
                                    <div class="form-group">
                                        <label class="control-label">Empresa</label>
                                        @Html.TextBoxFor(x => x.Empresa, new { @class = "form-control form-size" })
                                        <span class="help-block">@Html.ValidationMessageFor(x => x.Empresa)</span>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label class="control-label">MultLogon?</label>
                                        @Html.CheckBoxFor(x => x.IsMultLogon, new { @class = "form-control form-size" })
                                        <span class="help-block">@Html.ValidationMessageFor(x => x.IsMultLogon)</span>
                                    </div>
                                </div>
                            </div>
                        </fieldset>

                        <fieldset>
                            <legend>CONVEM DEVEDORES - Dados do Informante</legend>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label">CNPJ</label>
                                        @Html.TextBoxFor(x => x.CNPJInformante, new { @class = "form-control form-size" })
                                        <span class="help-block">@Html.ValidationMessageFor(x => x.CNPJInformante)</span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label">Nome Contato</label>
                                        @Html.TextBoxFor(x => x.NomeContatoInformante, new { @class = "form-control form-size" })
                                        <span class="help-block">@Html.ValidationMessageFor(x => x.NomeContatoInformante)</span>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label class="control-label">DDD</label>
                                        @Html.TextBoxFor(x => x.DDDInformante, new { @class = "form-control form-size" })
                                        <span class="help-block">@Html.ValidationMessageFor(x => x.DDDInformante)</span>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label">Telefone</label>
                                        @Html.TextBoxFor(x => x.TelefoneInformante, new { @class = "form-control form-size" })
                                        <span class="help-block">@Html.ValidationMessageFor(x => x.TelefoneInformante)</span>
                                    </div>
                                </div>
                            </div>
                        </fieldset>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="well">
                                    <input type="submit" class="btn btn-primary btn-sm" value="Salvar" />
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>