﻿@model IEnumerable<Configuracao>

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Configuração Geral do Sistema</h2>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Adicionar</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    @Html.ActionLink("Nova Configuração", "Incluir", "Configuracao", new { @class = "btn btn-primary" })
                </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Resultado da pesquisa</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-md-12">
                            <table id="data-table" class="table table-striped table-hover table-bordered">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>CNPJ Informante</th>
                                        <th>Empresa</th>
                                        <th>Telefone</th>
                                        <th>Ações</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.Count() > 0)
                                    {
                                        int posicao = 1;
                                        foreach (var config in Model)
                                        {
                                            <tr>
                                                <td>@posicao.ToString()</td>
                                                <td>@Html.DisplayFor(x => config.CNPJInformante)</td>
                                                <td>@Html.DisplayFor(x => config.Empresa)</td>
                                                <td>@Html.DisplayFor(x => config.TelefoneInformante)</td>
                                                <td>
                                                    @Html.ActionLink("Alterar", "Alterar", new { id = config.ConfiguracaoId })
                                                </td>
                                            </tr>
                                            posicao++;
                                        }
                                    }
                                    else
                                    {
                                        <tr>
                                            <td colspan="5">Nenhum registro encontrado.</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>