﻿@model ItemFaturavel

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $(":input").inputmask();
            $("#CustoUnitario, #ValorUnitario, #ValorMinimo, #ValorMaximo").maskMoney({ symbol: "", decimal: ",", thousands: "", defaultZero: true, allowZero: true });
        });
    </script>
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Itens Faturáveis</h2>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Adicionar</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    @using (Html.BeginForm())
                    {
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label">Descrição:</label>
                                    @Html.TextBoxFor(x => x.Descricao, new { @class = "form-control form-size" })
                                    <span class="help-block">@Html.ValidationMessageFor(x => x.Descricao)</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label class="control-label">Custo Unitário:</label>
                                    @Html.TextBoxFor(x => x.CustoUnitario, new { @class = "form-control form-size" })
                                    <span class="help-block">@Html.ValidationMessageFor(x => x.CustoUnitario)</span>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label class="control-label">Valor Unitário:</label>
                                    @Html.TextBoxFor(x => x.ValorUnitario, new { @class = "form-control form-size" })
                                    <span class="help-block">@Html.ValidationMessageFor(x => x.ValorUnitario)</span>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label class="control-label">Valor Mínimo:</label>
                                    @Html.TextBoxFor(x => x.ValorMinimo, new { @class = "form-control form-size" })
                                    <span class="help-block">@Html.ValidationMessageFor(x => x.ValorMinimo)</span>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label class="control-label">Valor Máximo:</label>
                                    @Html.TextBoxFor(x => x.ValorMaximo, new { @class = "form-control form-size" })
                                    <span class="help-block">@Html.ValidationMessageFor(x => x.ValorMaximo)</span>
                                </div>
                            </div>
                            <div class="col-md-1">
                                <div class="form-group">
                                    <label class="control-label">Pacote:</label>
                                    @Html.CheckBoxFor(x => x.IsPacote, new { @class = "form-control form-size form-checkbox" })
                                    <span class="help-block">@Html.ValidationMessageFor(x => x.IsPacote)</span>
                                </div>
                            </div>
                            <div class="col-md-1">
                                <div class="form-group">
                                    <label class="control-label">Consulta:</label>
                                    @Html.CheckBoxFor(x => x.IsConsulta, new { @class = "form-control form-size form-checkbox" })
                                    <span class="help-block">@Html.ValidationMessageFor(x => x.IsConsulta)</span>
                                </div>
                            </div>
                            <div class="col-md-1">
                                <div class="form-group">
                                    <label class="control-label">Ativo:</label>
                                    @Html.CheckBoxFor(x => x.IsAtivo, new { @class = "form-control form-size form-checkbox" })
                                    <span class="help-block">@Html.ValidationMessageFor(x => x.IsAtivo)</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="well">
                                    <input type="submit" class="btn btn-primary" value="Salvar" />
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>