﻿@model Sig.Web.Models.ViewModels.ItemFaturavelViewModel

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Itens Faturáveis</h2>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Pesquisa</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    @using (Html.BeginForm())
                    {
                        <div class="row">
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label class="control-label">Código:</label>
                                    @Html.TextBoxFor(x => x.ItemFaturavel.ItemFaturavelId, new { @class = "form-control form-size", data_val = false })
                                    <span class="help-block"></span>
                                </div>
                            </div>
                            <div class="col-md-10">
                                <div class="form-group">
                                    <label class="control-label">Descrição:</label>
                                    @Html.TextBoxFor(x => x.ItemFaturavel.Descricao, new { @class = "form-control form-size", data_val = false })
                                    <span class="help-block"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="well">
                                    <input type="submit" class="btn btn-primary" value="Pesquisar" />
                                    @Html.ActionLink("Incluir", "Incluir", null, new { @class = "btn btn-primary" })
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Resultado da pesquisa</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-md-12">
                            <table id="data-table" class="table table-striped table-hover table-bordered">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>ID</th>
                                        <th>Descrição</th>
                                        <th>Custo</th>
                                        <th>Valor mínimo</th>
                                        <th>Valor máximo</th>
                                        <th>Ações</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.ItensFaturaveis.Count() > 0)
                                    {
                                        int posicao = 1;
                                        foreach (var itemfaturavel in Model.ItensFaturaveis)
                                        {
                                            <tr>
                                                <td>@posicao.ToString()</td>
                                                <td>@Html.DisplayFor(x => itemfaturavel.ItemFaturavelId)</td>
                                                <td>@Html.DisplayFor(x => itemfaturavel.Descricao)</td>
                                                <td>@Html.DisplayFor(x => itemfaturavel.CustoUnitario)</td>
                                                <td>@Html.DisplayFor(x => itemfaturavel.ValorMinimo)</td>
                                                <td>@Html.DisplayFor(x => itemfaturavel.ValorMaximo)</td>
                                                <td>
                                                    @Html.ActionLink("Alterar", "Alterar", new { id = itemfaturavel.ItemFaturavelId })
                                                </td>
                                            </tr>
                                            posicao++;
                                        }
                                    }
                                    else
                                    {
                                        <tr>
                                            <td colspan="7">Nenhum registro encontrado.</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>