﻿@model Contrato

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Cargos</h2>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Adicionar</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    @using (Html.BeginForm())
                    {
                        <div class="panel panel-primary" style="background-color: #f1f1f1">
                            <div class="panel-heading">
                                <h3 class="panel-title text"><strong>Confirma cancelamento deste Contrato?</strong></h3>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label class="control-label">Contrato:</label>
                                            @Html.HiddenFor(x => x.ContratoId)
                                            @Html.TextBoxFor(x => x.ContratoId, new { @class = "form-control form-size", disabled = "disabled" })
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label">Cliente:</label>
                                            @Html.TextBoxFor(x => x.Cliente.Nome, new { @class = "form-control form-size", disabled = "disabled" })
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label">Data de Cancelamento:</label>
                                            @Html.TextBox("Data", DateTime.Now, new { @class = "form-control form-size", disabled = "disabled" })
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="well">
                                            <input type="submit" class="btn btn-primary btn-sm" value="Salvar" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>