﻿@model Contrato

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Contratos - Excluir</h2>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Adicionar</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    @using (Html.BeginForm())
                    {
                        @Html.HiddenFor(x => x.ContratoId)

                        <div class="panel panel-primary" style="background-color: #f1f1f1">
                            <div class="panel-heading">
                                <h3 class="panel-title text"><strong>Excluir Contrato</strong></h3>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="alert alert-danger" role="alert">
                                            <strong>Tem certeza?</strong> Não será possível recuperar as informações.
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label">Nome Fantasia:</label>
                                            @Html.TextBoxFor(x => x.Cliente.Nome, new { @class = "form-control form-size", disabled = "disabled" })
                                            <span class="help-block"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label">Razão Social:</label>
                                            @Html.TextBoxFor(x => x.Cliente.RazaoSocial, new { @class = "form-control form-size", disabled = "disabled" })
                                            <span class="help-block"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label">CPF/CNPJ:</label>
                                            @Html.TextBoxFor(x => x.Cliente.CPFCNPJ, new { @class = "form-control form-size", disabled = "disabled" })
                                            <span class="help-block"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="well">
                                            <input type="submit" class="btn btn-primary btn-sm" value="Excluir Contrato" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>



