﻿@model Contrato

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Adicionar Novo Contrato</h2>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Adicionar</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    @using (Html.BeginForm())
                    {
                        @if (Model.Cliente.Contratos.Count() > 0)
                        {
                            <div class="alert alert-danger fade in">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                <strong>Atenção:</strong> Este cliente já possui 1 (um) ou mais contratos ativos.
                            </div>
                        }

                        @Html.HiddenFor(x => x.ClienteId)
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Nome Fantasia:</label>
                                    @Html.TextBoxFor(x => x.Cliente.Nome, new { @class = "form-control form-size", disabled = "disabled" })
                                    <span class="help-block"></span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Razão Social:</label>
                                    @Html.TextBoxFor(x => x.Cliente.RazaoSocial, new { @class = "form-control form-size", disabled = "disabled" })
                                    <span class="help-block"></span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">CPF/CNPJ:</label>
                                    @Html.TextBoxFor(x => x.Cliente.CPFCNPJ, new { @class = "form-control form-size", disabled = "disabled" })
                                    <span class="help-block"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label">Data Inicial:</label>
                                    @Html.TextBoxFor(x => x.DataInicial, new { @class = "form-control form-size", data_inputmask = "'alias': 'date', 'clearIncomplete': true" })
                                    <span class="help-block">@Html.ValidationMessageFor(x => x.DataInicial)</span>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label">Data Final:</label>
                                    @Html.TextBoxFor(x => x.DataFinal, new { @class = "form-control form-size", data_inputmask = "'alias': 'date', 'clearIncomplete': true" })
                                    <span class="help-block">@Html.ValidationMessageFor(x => x.DataFinal)</span>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label">Renovação Automática?:</label>
                                    @Html.CheckBoxFor(x => x.IsRenovacaoAutomatica, new { @class = "form-control form-size" })
                                    <span class="help-block"></span>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label">Dia Cobrança:</label>
                                    @Html.DropDownListFor(x => x.DiaCobrancaId, (SelectList)ViewBag.DiasCobranca, "Selecione...", new { @class = "form-control form-size" })
                                    <span class="help-block">@Html.ValidationMessageFor(x => x.DiaCobrancaId)</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Tabela de Preços:</label>
                                    @Html.DropDownListFor(x => x.TabelaId, (SelectList)ViewBag.Tabelas, "Selecione...", new { @class = "form-control form-size" })
                                    <span class="help-block">@Html.ValidationMessageFor(x => x.TabelaId)</span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Vendedor:</label>
                                    @Html.DropDownListFor(x => x.VendedorId, (SelectList)ViewBag.Colaboradores, "Selecione...", new { @class = "form-control form-size" })
                                    <span class="help-block">@Html.ValidationMessageFor(x => x.VendedorId)</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label class="control-label">Taxa Extra?:</label>
                                    @Html.CheckBoxFor(x => x.IsTaxaExtra, new { @class = "form-control form-size form-checkbox" })
                                    <span class="help-block"></span>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label class="control-label">Cobra Aniversário?:</label>
                                    @Html.CheckBoxFor(x => x.IsAniversario, new { @class = "form-control form-size form-checkbox" })
                                    <span class="help-block"></span>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label">Renovação Automática?:</label>
                                    @Html.CheckBoxFor(x => x.IsRenovacaoAutomatica, new { @class = "form-control form-size form-checkbox" })
                                    <span class="help-block"></span>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label class="control-label">Envia Email?:</label>
                                    @Html.CheckBoxFor(x => x.IsEnviaEmail, new { @class = "form-control form-size form-checkbox" })
                                    <span class="help-block"></span>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label">Despesa Bancária?:</label>
                                    @Html.CheckBoxFor(x => x.IsDespesaBancaria, new { @class = "form-control form-size form-checkbox" })
                                    <span class="help-block"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="well">
                                    <input type="submit" class="btn btn-primary btn-sm" value="Salvar" />
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>