﻿@model Sig.Web.Models.ViewModels.ContratoViewModel

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Contratos</h2>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Pesquisa</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    @using (Html.BeginForm())
                    {
                        <div class="row">
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label class="control-label">Cliente:</label>
                                    @Html.TextBoxFor(x => x.Cliente.ClienteId, new { @class = "form-control form-size", data_val = false })
                                    <span class="help-block"></span>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label class="control-label">CPF/CNPJ:</label>
                                    @Html.TextBoxFor(x => x.Cliente.CPFCNPJ, new { @class = "form-control form-size", data_val = false })
                                    <span class="help-block"></span>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label class="control-label">Tabela:</label>
                                    @Html.TextBoxFor(x => x.Tabela.TabelaId, new { @class = "form-control form-size", data_val = false })
                                    <span class="help-block"></span>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label class="control-label">Contrato:</label>
                                    @Html.TextBoxFor(x => x.Contrato.ContratoId, new { @class = "form-control form-size", data_val = false })
                                    <span class="help-block"></span>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label">Vendedor:</label>
                                    @Html.TextBoxFor(x => x.Colaborador.ColaboradorId, new { @class = "form-control form-size", data_val = false })
                                    <span class="help-block"></span>
                                </div>
                            </div>
                            <div class="col-md-1">
                                <div class="form-group">
                                    <label class="control-label">Ativos?</label>
                                    @Html.CheckBoxFor(x => x.IsAtivo)
                                    <span class="help-block"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Nome Fantasia:</label>
                                    @Html.TextBoxFor(x => x.Cliente.Nome, new { @class = "form-control form-size", data_val = false })
                                    <span class="help-block"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Razão Social:</label>
                                    @Html.TextBoxFor(x => x.Cliente.RazaoSocial, new { @class = "form-control form-size", data_val = false })
                                    <span class="help-block"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="well">
                                    <input type="submit" class="btn btn-primary btn-sm" value="Pesquisar" />
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Resultado da pesquisa</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-md-12">
                            <table id="data-table" class="table table-striped table-hover table-bordered">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Contrato</th>
                                        <th>Cliente</th>
                                        <th>Nome Fantasia</th>
                                        <th>Data Cadastro</th>
                                        <th>Data Cancelamento</th>
                                        
                                        <th>Cancelar</th>
                                        <th>Reativar</th>
                                        <th>Excluir</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.Contratos != null && Model.Contratos.Count() > 0)
                                    {
                                        int posicao = 1;

                                        foreach (var contrato in Model.Contratos)
                                        {
                                            <tr>
                                                <td>@posicao.ToString()</td>
                                                <td>@Html.DisplayFor(x => contrato.ContratoId)</td>
                                                <td>@Html.DisplayFor(x => contrato.ClienteId)</td>
                                                <td>@Html.DisplayFor(x => contrato.Cliente.Nome)</td>
                                                <td>@Html.DisplayFor(x => contrato.DataCadastro)</td>
                                                <td>@Html.DisplayFor(x => contrato.DataCancelamento)</td>
                                                

                                                @if (!contrato.DataCancelamento.HasValue)
                                                {
                                                    <td>@Html.ActionLink("Cancelar", "Cancelar", new { id = contrato.ContratoId })</td>
                                                }
                                                else
                                                {
                                                    <td></td>
                                                }


                                                @if (contrato.DataCancelamento.HasValue)
                                                {
                                                    <td>@Html.ActionLink("Reativar", "Reativar", new { id = contrato.ContratoId })</td>
                                                }
                                                else
                                                {
                                                    <td></td>
                                                }

                                                <td>@Html.ActionLink("Excluir", "Excluir", new { id = contrato.ContratoId })</td>
                                            </tr>
                                            posicao++;
                                        }
                                    }
                                    else
                                    {
                                        <tr>
                                            <td colspan="9">Nenhum registro encontrado.</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>