﻿@model TransacaoConsulta

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#btnImprimir').click(function () {
                $('.areaImpressao').printElement();
            });
        });
    </script>
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Detalhe da Consulta</h2>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Detalhe</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    @if (!string.IsNullOrEmpty(Model.DadosResposta))
                    {
                        <div class="panel-body areaImpressao">
                            <div class="row">
                                <div class="col-md-12">
                                    <p>Data da Consulta: @Model.DataResposta</p>
                                    <p>Consulta: <strong>@Model.ItemFaturavelDescricao</strong></p>
                                    <p>Código: @Model.NSU</p>
                                    @Html.Raw(Model.DadosResposta)
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div style="text-align: center; padding: 20px;">
                                        <input type="button" value="Imprimir Resposta" id="btnImprimir" class="btn btn-primary" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>