﻿@model Sig.Web.Areas.Consulta.Models.ViewModels.TransacaoConsultaViewModel

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Consultas Realizadas</h2>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Pesquisa</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    @using (Html.BeginForm())
                    {
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Usuário:</label>
                                    @Html.DropDownListFor(x => x.UsuarioConsultaId, null, "Selecione...", new { @class = "form-control form-size" })
                                    <span class="help-block"></span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Data Inicial (Resposta):</label>
                                    @Html.TextBoxFor(x => x.DataInicial, new { @class = "form-control form-size", data_val = false, data_inputmask = "'alias': 'date', 'clearIncomplete': true" })
                                    <span class="help-block">@Html.ValidationMessageFor(x => x.DataInicial)</span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Data Final (Resposta):</label>
                                    @Html.TextBoxFor(x => x.DataFinal, new { @class = "form-control form-size", data_val = false, data_inputmask = "'alias': 'date', 'clearIncomplete': true" })
                                    <span class="help-block">@Html.ValidationMessageFor(x => x.DataFinal)</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="well">
                                    <input type="submit" class="btn btn-primary btn-sm" value="Pesquisar" />
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Resultado da pesquisa</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-md-12">
                            <table id="data-table" class="table table-striped table-hover table-bordered">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>NSU</th>
                                        <th>Usuário</th>
                                        <th>Consulta</th>
                                        <th>Data Resposta</th>
                                        <th>Chave</th>
                                        <th>Ações</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model != null && Model.TransacaoConsultas != null && Model.TransacaoConsultas.Count() > 0)
                                    {
                                        int posicao = 1;
                                        foreach (var tc in Model.TransacaoConsultas)
                                        {
                                            <tr>
                                                <td>@posicao.ToString()</td>
                                                <td>@Html.DisplayFor(x => tc.NSU)</td>
                                                <td>@Html.DisplayFor(x => tc.UsuarioConsulta.Email)</td>
                                                <td>@tc.ItemFaturavelId</td>
                                                <td>@Html.DisplayFor(x => tc.DataResposta)</td>
                                                <td>@Html.DisplayFor(x => tc.ChaveConsulta)</td>
                                                <td>
                                                    @Html.ActionLink("Resposta", "Detalhe", new { id = tc.NSU })
                                                </td>
                                            </tr>
                                            posicao++;
                                        }
                                    }
                                    else
                                    {
                                        <tr>
                                            <td colspan="7">Nenhum registro encontrado.</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
