﻿@model Credito

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#Valor").maskMoney({ symbol: "", decimal: ",", thousands: "", defaultZero: true, allowZero: false });
        });
    </script>
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Crédito - Incluir</h2>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Adicionar</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    @using (Html.BeginForm())
                    {
                        <div class="row">
                            <div class="col-md-8">
                                <div class="form-group">
                                    <label class="control-label">Descrição:</label>
                                    @Html.TextBoxFor(x => x.Descricao, new { @class = "form-control form-size" })
                                    <span class="help-block">@Html.ValidationMessageFor(x => x.Descricao)</span>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label class="control-label">Valor:</label>
                                    @Html.TextBoxFor(x => x.Valor, new { @class = "form-control form-size" })
                                    <span class="help-block">@Html.ValidationMessageFor(x => x.Valor)</span>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label class="control-label">Ativo:</label>
                                    @Html.CheckBoxFor(x => x.IsAtivo, new { @class = "form-control form-size" })
                                    <span class="help-block">@Html.ValidationMessageFor(x => x.IsAtivo)</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="well">
                                    <input type="submit" class="btn btn-primary btn-sm" value="Salvar" />
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>