﻿@model Sig.Web.Models.Contato

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Contatos</h2>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Editar</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    @using (Html.BeginForm())
                    {
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Cargo:</label>
                                    @Html.HiddenFor(x => x.ContatoId)
                                    @Html.HiddenFor(x => x.ClienteId)
                                    @Html.DropDownListFor(x => x.CargoId, (SelectList)ViewBag.Cargos, "Selecione...", new { @class = "form-control form-size" })
                                    <span class="help-block">@Html.ValidationMessageFor(x => x.CargoId)</span>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="form-group">
                                    <label class="control-label">Nome:</label>
                                    @Html.TextBoxFor(x => x.Nome, new { @class = "form-control form-size" })
                                    <span class="help-block">@Html.ValidationMessageFor(x => x.Nome)</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label class="control-label">CPF:</label>
                                    @Html.TextBoxFor(x => x.CPF, new { @class = "form-control form-size" })
                                    <span class="help-block">@Html.ValidationMessageFor(x => x.CPF)</span>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label class="control-label">Data Nascimento:</label>
                                    @Html.TextBoxFor(x => x.DataNascimento, new { @class = "form-control form-size" })
                                    <span class="help-block">@Html.ValidationMessageFor(x => x.DataNascimento)</span>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="form-group">
                                    <label class="control-label">Email:</label>
                                    @Html.TextBoxFor(x => x.Email, new { @class = "form-control form-size" })
                                    <span class="help-block">@Html.ValidationMessageFor(x => x.Email)</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label">Rg:</label>
                                    @Html.TextBoxFor(x => x.Rg, new { @class = "form-control form-size" })
                                    <span class="help-block">@Html.ValidationMessageFor(x => x.Rg)</span>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label">Orgão Expedidor:</label>
                                    @Html.TextBoxFor(x => x.RgOrgaoExpedidor, new { @class = "form-control form-size" })
                                    <span class="help-block">@Html.ValidationMessageFor(x => x.RgOrgaoExpedidor)</span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Rg Estado:</label>
                                    @Html.DropDownListFor(x => x.RgUf, (SelectList)ViewBag.Estados, "Selecione...", new { @class = "form-control form-size" })
                                    <span class="help-block">@Html.ValidationMessageFor(x => x.RgUf)</span>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label class="control-label">Data Expedição:</label>
                                    @Html.TextBoxFor(x => x.RgDataExpedicao, new { @class = "form-control form-size" })
                                    <span class="help-block">@Html.ValidationMessageFor(x => x.RgDataExpedicao)</span>
                                </div>
                            </div>
                        </div>
                        <fieldset>
                            <legend>Endereço</legend>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Endereço:</label>
                                        @Html.TextBoxFor(x => x.Logradouro, new { @class = "form-control form-size" })
                                        <span class="help-block">@Html.ValidationMessageFor(x => x.Logradouro)</span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Complemento:</label>
                                        @Html.TextBoxFor(x => x.Complemento, new { @class = "form-control form-size" })
                                        <span class="help-block">@Html.ValidationMessageFor(x => x.Complemento)</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label">Bairro:</label>
                                        @Html.TextBoxFor(x => x.Bairro, new { @class = "form-control form-size" })
                                        <span class="help-block">@Html.ValidationMessageFor(x => x.Bairro)</span>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label">Cidade:</label>
                                        @Html.TextBoxFor(x => x.Cidade, new { @class = "form-control form-size" })
                                        <span class="help-block">@Html.ValidationMessageFor(x => x.Cidade)</span>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label class="control-label">CEP:</label>
                                        @Html.TextBoxFor(x => x.CEP, new { @class = "form-control form-size" })
                                        <span class="help-block">@Html.ValidationMessageFor(x => x.CEP)</span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label">Estado:</label>
                                        @Html.DropDownListFor(x => x.UF, (SelectList)ViewBag.Estados, "Selecione...", new { @class = "form-control form-size" })
                                        <span class="help-block">@Html.ValidationMessageFor(x => x.UF)</span>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <legend>Telefones</legend>
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label class="control-label">DDD:</label>
                                        @Html.TextBoxFor(x => x.DDDTelefone, new { @class = "form-control form-size" })
                                        <span class="help-block">@Html.ValidationMessageFor(x => x.DDDTelefone)</span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label">Telefone:</label>
                                        @Html.TextBoxFor(x => x.Telefone, new { @class = "form-control form-size" })
                                        <span class="help-block">@Html.ValidationMessageFor(x => x.Telefone)</span>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label class="control-label">DDD:</label>
                                        @Html.TextBoxFor(x => x.DDDCelular, new { @class = "form-control form-size" })
                                        <span class="help-block">@Html.ValidationMessageFor(x => x.DDDTelefone)</span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label">Celular:</label>
                                        @Html.TextBoxFor(x => x.Celular, new { @class = "form-control form-size" })
                                        <span class="help-block">@Html.ValidationMessageFor(x => x.Celular)</span>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="well">
                                    <input type="submit" class="btn btn-primary" value="Salvar" />
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>