﻿@model Sig.Web.Models.ViewModels.UsuarioViewModel

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Usuários de Agência</h2>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Editar</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    @using (Html.BeginForm())
                    {

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Colaborador:</label>
                                    @Html.HiddenFor(x => x.Usuario.UsuarioId)
                                    @Html.DropDownListFor(x => x.Usuario.ColaboradorId, (SelectList)ViewBag.Colaboradores, "Selecione...", new { @class = "form-control form-size", disabled = "disabled" })
                                    @Html.HiddenFor(x => x.Usuario.ColaboradorId)
                                    <span class="help-block">@Html.ValidationMessageFor(x => x.Usuario.ColaboradorId)</span>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label">Senha:</label>
                                    @Html.PasswordFor(x => x.Usuario.Senha, new { @class = "form-control form-size" })
                                    <span class="help-block">@Html.ValidationMessageFor(x => x.Usuario.Senha)</span>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label">Confirmar Senha:</label>
                                    @Html.PasswordFor(x => x.Usuario.SenhaConfirmar, new { @class = "form-control form-size" })
                                    <span class="help-block">@Html.ValidationMessageFor(x => x.Usuario.SenhaConfirmar)</span>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label class="control-label">Ativo?:</label>
                                    @Html.CheckBoxFor(x => x.Usuario.IsAtivo, new { @class = "form-control form-size form-checkbox" })
                                    <span class="help-block">@Html.ValidationMessageFor(x => x.Usuario.IsAtivo)</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="well">
                                    <input type="submit" class="btn btn-primary" value="Salvar" />
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>