﻿@model Sig.Web.ViewModels.Usuarios.UsuarioViewModel

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Usuários de Agências</h2>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Pesquisa</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    @using (Html.BeginForm())
                    {
                        <div class="row">
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label class="control-label">CPF/CNPJ:</label>
                                    @Html.TextBoxFor(x => x.Usuario.Colaborador.Agencia.CPFCNPJ, new { @class = "form-control form-size", data_val = false })
                                    <span class="help-block"></span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Nome:</label>
                                    @Html.TextBoxFor(x => x.Usuario.Colaborador.Agencia.Nome, new { @class = "form-control form-size", data_val = false })
                                    <span class="help-block"></span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Razão Social:</label>
                                    @Html.TextBoxFor(x => x.Usuario.Colaborador.Agencia.RazaoSocial, new { @class = "form-control form-size", data_val = false })
                                    <span class="help-block"></span>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label class="control-label">Inativos?:</label>
                                    @Html.CheckBoxFor(x => x.Inativos, new { @class = "form-control form-size form-checkbox" })
                                    <span class="help-block"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="well">
                                    <input type="submit" class="btn btn-primary" value="Pesquisar" />
                                    @Html.ActionLink("Incluir", "Incluir", null, new { @class = "btn btn-primary" })
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Resultado da pesquisa</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-md-12">
                            <table id="data-table" class="table table-striped table-hover table-bordered">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Id</th>
                                        <th>Agência</th>
                                        <th>Colaborador</th>
                                        <th>Email</th>
                                        <th>Super Usuário?</th>
                                        <th>Ativo?</th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model != null && Model.Usuarios != null && Model.Usuarios.Count() > 0)
                                    {
                                        int posicao = 1;

                                        foreach (var usuario in Model.Usuarios)
                                        {
                                            <tr>
                                                <td>@posicao.ToString()</td>
                                                <td>@Html.DisplayFor(x => usuario.Colaborador.Agencia.ClienteId)</td>
                                                <td><strong>@Html.DisplayFor(x => usuario.Colaborador.Agencia.Nome)</strong></td>
                                                <td>@Html.DisplayFor(x => usuario.Colaborador.Nome)</td>
                                                <td>@Html.DisplayFor(x => usuario.Colaborador.Email)</td>
                                                <td>@Html.DisplayFor(x => usuario.IsSuperUsuario)</td>
                                                <td>@Html.DisplayFor(x => usuario.IsAtivo)</td>
                                                <td>@Html.ActionLink("Alterar", "Alterar", new { id = usuario.UsuarioId })</td>

                                                @if (usuario.IsAtivo)
                                                {
                                                    <td>@Html.ActionLink("Desativar", "Desativar", new { id = usuario.UsuarioId }, new { onclick = "return confirm('Tem certeza que deseja desativar este usuário?');" })</td>
                                                }
                                                else
                                                {
                                                    <td>@Html.ActionLink("Ativar", "Ativar", new { id = usuario.UsuarioId }, new { onclick = "return confirm('Tem certeza que deseja ativar este usuário?');" })</td>
                                                }

                                            </tr>
                                            posicao++;
                                        }
                                    }
                                    else
                                    {
                                        <tr>
                                            <td colspan="8">Nenhum registro encontrado.</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>