﻿@model Sig.Web.ViewModels.Agencia.Usuario.RecuperarSenhaViewModel
@{
    Layout = null;
    ViewBag.Title = "Sistema Integrado de Gestão";
}

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $(":input").inputmask();
        });
    </script>
}


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.css" />
        <link rel="stylesheet" href="~/css/animate.css" />
        <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css" />
        <link rel="stylesheet" href="~/css/animate.css" />
        <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    </environment>


</head>
<body class="gray-bg">
    <div class="middle-box text-center loginscreen  animated fadeInDown">
        <div>
            <div>
                <h1 class="logo-name">SIG</h1>
            </div>
            <h3>Recuperar Senha</h3>
            @using (Html.BeginForm())
            {
                <fieldset>
                    <legend>Digite o documento da empresa ou email de usuário para recuperar.</legend>
                    <div class="row">
                        <div class="col-md-12">
                            @Html.Raw(TempData["Alertas"])
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Documento:</label>
                                @Html.TextBoxFor(x => x.CpfCnpj, new { @class = "form-control form-size", data_inputmask = "'mask': '99999999999999', 'clearIncomplete': false, 'placeholder': ' '" })
                                <span class="help-block">@Html.ValidationMessageFor(x => x.CpfCnpj)</span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Seu Email de Usuário:</label>
                                @Html.TextBoxFor(x => x.Email, new { @class = "form-control form-size" })
                                <span class="help-block">@Html.ValidationMessageFor(x => x.Email)</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="well">
                                <input type="submit" class="btn btn-primary" value="Enviar" />
                            </div>
                        </div>
                    </div>
                </fieldset>
            }
            <p class="m-t"> <small>Inspinia we app framework base on Bootstrap 3 &copy; 2015</small> </p>
        </div>
    </div>

</body>
</html>