﻿@{
    ViewBag.Title = "Main";
}

<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="text-center m-t-lg">
                Glauber
            </div>
        </div>
    </div>
</div>
