﻿@model Sig.Web.Models.DiaCobranca

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $(":input").inputmask();
        });
    </script>
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Dias de Cobrança</h2>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Adicionar</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    @using (Html.BeginForm())
                    {

                        <div class="row">
                            <div class="col-md-12">
                                @{
                                    if (TempData["Alertas"] != null)
                                    {
                                        @Html.Raw(TempData["Alertas"])
                                    }
                                }
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label">Dia:</label>
                                    @Html.TextBoxFor(x => x.Dia, new { @class = "form-control form-size", data_inputmask = "'alias': 'integer', 'rightAlignNumerics': false" })
                                    <span class="help-block">@Html.ValidationMessageFor(x => x.Dia)</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="well">
                                    <input type="submit" class="btn btn-primary" value="Salvar" />
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>