﻿@model ConfigSendGrid

@{
    ViewBag.AddEdit = Model.ConfigSendGridId > 0 ? "Alterar" : "Adicionar";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Configuração SendGrid - @ViewBag.AddEdit</h2>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Editar</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <fieldset>
                            <legend>Produção</legend>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label">Email de Envio:</label>
                                        @Html.HiddenFor(x => x.ConfigSendGridId)
                                        @Html.TextBoxFor(x => x.Email, new { @class = "form-control form-size" })
                                        <span class="help-block">@Html.ValidationMessageFor(x => x.Email)</span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label">Email de Envio (Bcc):</label>
                                        @Html.TextBoxFor(x => x.EmailBcc, new { @class = "form-control form-size" })
                                        <span class="help-block">@Html.ValidationMessageFor(x => x.EmailBcc)</span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label">Nome da Empresa:</label>
                                        @Html.TextBoxFor(x => x.Nome, new { @class = "form-control form-size" })
                                        <span class="help-block">@Html.ValidationMessageFor(x => x.Nome)</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label">Template Padrão:</label>
                                        @Html.TextBoxFor(x => x.TemplateIdPadrao, new { @class = "form-control form-size" })
                                        <span class="help-block">@Html.ValidationMessageFor(x => x.TemplateIdPadrao)</span>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label">Template do Boleto:</label>
                                        @Html.TextBoxFor(x => x.TemplateIdBoleto, new { @class = "form-control form-size" })
                                        <span class="help-block">@Html.ValidationMessageFor(x => x.TemplateIdBoleto)</span>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label">Template Envio de Senha:</label>
                                        @Html.TextBoxFor(x => x.TemplateIdEnvioDeSenha, new { @class = "form-control form-size" })
                                        <span class="help-block">@Html.ValidationMessageFor(x => x.TemplateIdEnvioDeSenha)</span>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label">Template Rec de Senha:</label>
                                        @Html.TextBoxFor(x => x.TemplateIdRecuperarSenha, new { @class = "form-control form-size" })
                                        <span class="help-block">@Html.ValidationMessageFor(x => x.TemplateIdRecuperarSenha)</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Usuário SendGrid:</label>
                                        @Html.TextBoxFor(x => x.Usuario, new { @class = "form-control form-size" })
                                        <span class="help-block">@Html.ValidationMessageFor(x => x.Usuario)</span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Senha SendGrid:</label>
                                        @Html.TextBoxFor(x => x.Senha, new { @class = "form-control form-size" })
                                        <span class="help-block">@Html.ValidationMessageFor(x => x.Senha)</span>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="well">
                                    <input type="submit" class="btn btn-primary btn-sm" value="Salvar" />
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>