﻿@model IEnumerable<ConfigSendGrid>

@section scripts{
    <script type="text/javascript">
        $(":input").inputmask();
    </script>
}


<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>SendGrid</h2>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Ação</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    @Html.ActionLink("Novo", "Editar", new { controller = "ConfigSendGrid" }, new { @class = "btn btn-primary btn-sm" })
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Resultado da pesquisa</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-md-12">
                            <table id="data-table" class="table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>ID</th>
                                        <th>Descrição</th>
                                        <th>Ações</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model != null && Model.Count() > 0)
                                    {
                                        int posicao = 1;
                                        foreach (var sendGrid in Model)
                                        {
                                            <tr>
                                                <td>@posicao.ToString()</td>
                                                <td>@Html.DisplayFor(x => sendGrid.ConfigSendGridId)</td>
                                                <td>@Html.DisplayFor(x => sendGrid.Email)</td>
                                                <td>
                                                    @Html.ActionLink("Editar", "Editar", new { id = sendGrid.ConfigSendGridId })
                                                </td>
                                            </tr>
                                            posicao++;
                                        }
                                    }
                                    else
                                    {
                                        <tr>
                                            <td colspan="4">Nenhum registro encontrado.</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
