﻿@model Cliente
@inject Sig.Web.Interfaces.IUsuarioLogado UsuarioLogado
@{
    ViewBag.Title = "Alterar";
    ContextoDados _db = new ContextoDados();
}

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#ComissaoAgente").maskMoney({ symbol: "", decimal: ",", thousands: "", defaultZero: true, allowZero: true });
            $(":input").inputmask();

            $('#cliente-form').submit(function () {
                if ($(this).valid()) {
                    $('.stateful').button('loading');
                    return true;
                }
            });

        });
    </script>
}


<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Cargos</h2>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Resultado da pesquisa</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    @using (Html.BeginForm("Alterar", "Cliente", FormMethod.Post, new { id = "cliente-form" }))
                    {
                        <fieldset>
                            <legend>Clientes - Alterar Cliente</legend>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label">Cliente:</label>
                                        @Html.HiddenFor(x => x.ClienteId)
                                        @Html.TextBoxFor(x => x.Nome, new { @class = "form-control form-size" })
                                        <span class="help-block">@Html.ValidationMessageFor(x => x.Nome)</span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label">Razão Social:</label>
                                        @Html.TextBoxFor(x => x.RazaoSocial, new { @class = "form-control form-size" })
                                        <span class="help-block">@Html.ValidationMessageFor(x => x.RazaoSocial)</span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label">CPF/CNPJ:</label>
                                        @Html.TextBoxFor(x => x.CPFCNPJ, new { @class = "form-control form-size" })
                                        <span class="help-block">@Html.ValidationMessageFor(x => x.CPFCNPJ)</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Inscrição Estadual:</label>
                                        @Html.TextBoxFor(x => x.InscricaoEstadual, new { @class = "form-control form-size" })
                                        <span class="help-block">@Html.ValidationMessageFor(x => x.InscricaoEstadual)</span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Inscrição Municipal:</label>
                                        @Html.TextBoxFor(x => x.InscricaoMunicipal, new { @class = "form-control form-size" })
                                        <span class="help-block">@Html.ValidationMessageFor(x => x.InscricaoMunicipal)</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Atividade:</label>
                                        @Html.DropDownListFor(x => x.AtividadeId, (SelectList)ViewBag.Atividades, "Selecione...", new { @class = "form-control form-size" })
                                        <span class="help-block">@Html.ValidationMessageFor(x => x.AtividadeId)</span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Região:</label>
                                        @Html.DropDownListFor(x => x.RegiaoId, (SelectList)ViewBag.Regioes, "Selecione...", new { @class = "form-control form-size" })
                                        <span class="help-block">@Html.ValidationMessageFor(x => x.RegiaoId)</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Email:</label>
                                        @Html.TextBoxFor(x => x.Email, new { @class = "form-control form-size" })
                                        <span class="help-block">@Html.ValidationMessageFor(x => x.Email)</span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Website:</label>
                                        @Html.TextBoxFor(x => x.Website, new { @class = "form-control form-size" })
                                        <span class="help-block">@Html.ValidationMessageFor(x => x.Website)</span>
                                    </div>
                                </div>
                            </div>
                            <fieldset>
                                <legend>Registro Geral</legend>
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="control-label">RG:</label>
                                            @Html.TextBoxFor(x => x.Rg, new { @class = "form-control form-size" })
                                            <span class="help-block">@Html.ValidationMessageFor(x => x.Rg)</span>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="control-label">Orgão Expedidor:</label>
                                            @Html.TextBoxFor(x => x.RgOrgaoExpedidor, new { @class = "form-control form-size" })
                                            <span class="help-block">@Html.ValidationMessageFor(x => x.RgOrgaoExpedidor)</span>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label">Estado:</label>
                                            @Html.DropDownListFor(x => x.RgUf, (SelectList)ViewBag.Estados, "Selecione...", new { @class = "form-control form-size" })
                                            <span class="help-block">@Html.ValidationMessageFor(x => x.RgUf)</span>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label class="control-label">Data Expedição:</label>
                                            @Html.TextBoxFor(x => x.RgDataExpedicao, new { @class = "form-control form-size", data_inputmask = "'alias': 'date', 'clearIncomplete': true" })
                                            <span class="help-block">@Html.ValidationMessageFor(x => x.RgDataExpedicao)</span>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>

                            @if (Model.TipoCliente == Sig.Web.Models.Enums.eTipoCliente.Agencia)
                            {
                                <fieldset>
                                    <legend>Comissão do Agente (%)</legend>
                                    <div class="row">
                                        <div class="col-md-8">
                                            <div class="form-group">
                                                <label class="control-label">Percentual:</label>
                                                @Html.TextBoxFor(x => x.ComissaoAgente, new { @class = "form-control form-size" })
                                                <span class="help-block">@Html.ValidationMessageFor(x => x.ComissaoAgente)</span>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label class="control-label">Revenda?:</label>
                                                @Html.CheckBoxFor(x => x.IsRevenda, new { @class = "form-control form-size form-checkbox" })
                                                <span class="help-block">@Html.ValidationMessageFor(x => x.IsRevenda)</span>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label class="control-label">Comissionamento?:</label>
                                                @Html.CheckBoxFor(x => x.IsComissionamento, new { @class = "form-control form-size form-checkbox" })
                                                <span class="help-block">@Html.ValidationMessageFor(x => x.IsComissionamento)</span>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            }

                            @if (Model.Enderecos.Count > 0)
                            {
                                <fieldset>
                                    <legend>Endereços</legend>

                                    @{
                                        var Enderecos = Model.Enderecos.ToArray();
                                    }

                                    @for (int i = 0; i < Enderecos.Length; i++)
                                    {
                                        <div class="panel panel-primary" style="background-color: #f8f8f8">
                                            <div class="panel-heading">
                                                <h3 class="panel-title text">Endereço</h3>
                                            </div>
                                            <div class="panel-body">
                                                <div class="row">
                                                    <div class="col-md-2">
                                                        <div class="form-group">
                                                            @Html.HiddenFor(x => Enderecos[i].EnderecoId)
                                                            @Html.HiddenFor(x => Enderecos[i].ClienteId)
                                                            <label class="control-label">Tipo:</label>
                                                            @Html.DropDownListFor(x => Enderecos[i].TipoEndereco, Html.GetEnumSelectList(typeof(Sig.Web.Models.Enums.eTipoEndereco)), new { @class = "form-control form-size" });
                                                            <span class="help-block">@Html.ValidationMessageFor(x => Enderecos[i].TipoEndereco)</span>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="control-label">Endereço:</label>
                                                            @Html.TextBoxFor(x => Enderecos[i].Logradouro, new { @class = "form-control form-size" })
                                                            <span class="help-block">@Html.ValidationMessageFor(x => Enderecos[i].Logradouro)</span>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label class="control-label">Número:</label>
                                                            @Html.TextBoxFor(x => Enderecos[i].Numero, new { @class = "form-control form-size" })
                                                            <span class="help-block">@Html.ValidationMessageFor(x => Enderecos[i].Numero)</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-8">
                                                        <div class="form-group">
                                                            <label class="control-label">Complemento:</label>
                                                            @Html.TextBoxFor(x => Enderecos[i].Complemento, new { @class = "form-control form-size" })
                                                            <span class="help-block">@Html.ValidationMessageFor(x => Enderecos[i].Complemento)</span>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label class="control-label">Bairro:</label>
                                                            @Html.TextBoxFor(x => Enderecos[i].Bairro, new { @class = "form-control form-size" })
                                                            <span class="help-block">@Html.ValidationMessageFor(x => Enderecos[i].Bairro)</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label class="control-label">Cidade:</label>
                                                            @Html.TextBoxFor(x => Enderecos[i].Cidade, new { @class = "form-control form-size" })
                                                            <span class="help-block">@Html.ValidationMessageFor(x => Enderecos[i].Cidade)</span>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label class="control-label">Estado:</label>
                                                            @Html.DropDownListFor(x => Enderecos[i].UF, new SelectList(Estado.UFs, "Sigla", "Descricao", Enderecos[i].UF), "Selecione...", new { @class = "form-control form-size" })
                                                            <span class="help-block">@Html.ValidationMessageFor(x => Enderecos[i].UF)</span>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label class="control-label">CEP:</label>
                                                            @Html.TextBoxFor(x => Enderecos[i].CEP, new { @class = "form-control form-size", data_inputmask = "'mask': '99999999', 'clearIncomplete': true" })
                                                            <span class="help-block">@Html.ValidationMessageFor(x => Enderecos[i].CEP)</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }

                                </fieldset>
                            }

                            @if (Model.Telefones.Count > 0)
                            {
                                <fieldset>
                                    <legend>Telefones</legend>
                                    @{
                                        var Telefones = Model.Telefones.ToArray();
                                    }

                                    @for (int i = 0; i < Telefones.Length; i++)
                                    {
                                        <div class="panel panel-primary" style="background-color: #f8f8f8">
                                            <div class="panel-heading">
                                                <h3 class="panel-title text">Telefone</h3>
                                            </div>
                                            <div class="panel-body">
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            @Html.HiddenFor(x => Telefones[i].ClienteId)
                                                            @Html.HiddenFor(x => Telefones[i].TelefoneId)
                                                            <label class="control-label">Tipo:</label>
                                                            @Html.DropDownListFor(x => Telefones[i].TipoTelefone, Html.GetEnumSelectList(typeof(Sig.Web.Models.Enums.eTipoTelefone)), new { @class = "form-control form-size" })
                                                            <span class="help-block">@Html.ValidationMessageFor(x => Telefones[i].TipoTelefone)</span>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label class="control-label">DDD:</label>
                                                            @Html.TextBoxFor(x => Telefones[i].DDD, new { @class = "form-control form-size", data_inputmask = "'mask': '99', 'clearIncomplete': true" })
                                                            <span class="help-block">@Html.ValidationMessageFor(x => Telefones[i].DDD)</span>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label class="control-label">Número:</label>
                                                            @Html.TextBoxFor(x => Telefones[i].Numero, new { @class = "form-control form-size", data_inputmask = "'mask': '999999999', 'clearIncomplete': false, 'placeholder': ' '" })
                                                            <span class="help-block">@Html.ValidationMessageFor(x => Telefones[i].Numero)</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }

                                </fieldset>
                            }

                            @if (Model.Contatos.Count > 0)
                            {
                                <fieldset>
                                    <legend>Contatos do Cliente</legend>

                                    @{
                                        var Contatos = Model.Contatos.ToArray();
                                    }

                                    @for (int i = 0; i < Contatos.Length; i++)
                                    {
                                        <div class="panel panel-primary" style="background-color: #f8f8f8">
                                            <div class="panel-heading">
                                                <h3 class="panel-title text">Dados do Contato</h3>
                                            </div>
                                            <div class="panel-body">
                                                <fieldset>
                                                    <legend>Contato</legend>
                                                    <div class="row">
                                                        <div class="col-md-4">
                                                            <div class="form-group">
                                                                @Html.HiddenFor(x => Contatos[i].ClienteId)
                                                                @Html.HiddenFor(x => Contatos[i].ContatoId)
                                                                <label class="control-label">Cargo:</label>
                                                                @Html.DropDownListFor(x => Contatos[i].CargoId, new SelectList(_db.Cargos.Where(c => c.AgenciaId == UsuarioLogado.ObterAgenciaId()), "CargoId", "Descricao", Contatos[i].CargoId), "Selecione...", new { @class = "form-control form-size" });
                                                                <span class="help-block">@Html.ValidationMessageFor(x => Contatos[i].CargoId)</span>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-8">
                                                            <div class="form-group">
                                                                <label class="control-label">Nome:</label>
                                                                @Html.TextBoxFor(x => Contatos[i].Nome, new { @class = "form-control form-size" })
                                                                <span class="help-block">@Html.ValidationMessageFor(x => Contatos[i].Nome)</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-2">
                                                            <div class="form-group">
                                                                <label class="control-label">CPF:</label>
                                                                @Html.TextBoxFor(x => Contatos[i].CPF, new { @class = "form-control form-size", data_inputmask = "'mask': '99999999999', 'clearIncomplete': true" })
                                                                <span class="help-block">@Html.ValidationMessageFor(x => Contatos[i].CPF)</span>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <div class="form-group">
                                                                <label class="control-label">Data Nascimento:</label>
                                                                @Html.TextBoxFor(x => Contatos[i].DataNascimento, new { @class = "form-control form-size", data_inputmask = "'alias': 'date', 'clearIncomplete': true" })
                                                                <span class="help-block">@Html.ValidationMessageFor(x => Contatos[i].DataNascimento)</span>
                                                            </div>
                                                        </div>

                                                        <div class="col-md-8">
                                                            <div class="form-group">
                                                                <label class="control-label">Email:</label>
                                                                @Html.TextBoxFor(x => Contatos[i].Email, new { @class = "form-control form-size" })
                                                                <span class="help-block">@Html.ValidationMessageFor(x => Contatos[i].Email)</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </fieldset>
                                                <fieldset>
                                                    <legend>Dados Registro Geral</legend>
                                                    <div class="row">
                                                        <div class="col-md-2">
                                                            <div class="form-group">
                                                                <label class="control-label">Rg:</label>
                                                                @Html.TextBoxFor(x => Contatos[i].Rg, new { @class = "form-control form-size", data_inputmask = "'alias': 'integer', 'rightAlignNumerics': false" })
                                                                <span class="help-block">@Html.ValidationMessageFor(x => Contatos[i].Rg)</span>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <div class="form-group">
                                                                <label class="control-label">Orgão Expedidor:</label>
                                                                @Html.TextBoxFor(x => Contatos[i].RgOrgaoExpedidor, new { @class = "form-control form-size" })
                                                                <span class="help-block">@Html.ValidationMessageFor(x => Contatos[i].RgOrgaoExpedidor)</span>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label class="control-label">Rg Estado:</label>
                                                                @Html.DropDownListFor(x => Contatos[i].RgUf, new SelectList(Estado.UFs, "Sigla", "Descricao", Contatos[i].RgUf), "Selecione...", new { @class = "form-control form-size" })
                                                                <span class="help-block">@Html.ValidationMessageFor(x => Contatos[i].RgUf)</span>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <div class="form-group">
                                                                <label class="control-label">Data Expedição:</label>
                                                                @Html.TextBoxFor(x => Contatos[i].RgDataExpedicao, new { @class = "form-control form-size", data_inputmask = "'alias': 'date', 'clearIncomplete': true" })
                                                                <span class="help-block">@Html.ValidationMessageFor(x => Contatos[i].RgDataExpedicao)</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </fieldset>
                                                <fieldset>
                                                    <legend>Endereço Contato</legend>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label class="control-label">Endereço:</label>
                                                                @Html.TextBoxFor(x => Contatos[i].Logradouro, new { @class = "form-control form-size" })
                                                                <span class="help-block">@Html.ValidationMessageFor(x => Contatos[i].Logradouro)</span>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label class="control-label">Complemento:</label>
                                                                @Html.TextBoxFor(x => Contatos[i].Complemento, new { @class = "form-control form-size" })
                                                                <span class="help-block">@Html.ValidationMessageFor(x => Contatos[i].Complemento)</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-3">
                                                            <div class="form-group">
                                                                <label class="control-label">Bairro:</label>
                                                                @Html.TextBoxFor(x => Contatos[i].Bairro, new { @class = "form-control form-size" })
                                                                <span class="help-block">@Html.ValidationMessageFor(x => Contatos[i].Bairro)</span>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <div class="form-group">
                                                                <label class="control-label">Cidade:</label>
                                                                @Html.TextBoxFor(x => Contatos[i].Cidade, new { @class = "form-control form-size" })
                                                                <span class="help-block">@Html.ValidationMessageFor(x => Contatos[i].Cidade)</span>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <div class="form-group">
                                                                <label class="control-label">CEP:</label>
                                                                @Html.TextBoxFor(x => Contatos[i].CEP, new { @class = "form-control form-size", data_inputmask = "'mask': '99999999', 'clearIncomplete': true" })
                                                                <span class="help-block">@Html.ValidationMessageFor(x => Contatos[i].CEP)</span>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <div class="form-group">
                                                                <label class="control-label">Estado:</label>
                                                                @Html.DropDownListFor(x => Contatos[i].UF, new SelectList(Estado.UFs, "Sigla", "Descricao", Contatos[i].UF), "Selecione...", new { @class = "form-control form-size" })
                                                                <span class="help-block">@Html.ValidationMessageFor(x => Contatos[i].UF)</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </fieldset>
                                                <fieldset>
                                                    <legend>Telefones do Contato</legend>
                                                    <div class="row">
                                                        <div class="col-md-2">
                                                            <div class="form-group">
                                                                <label class="control-label">DDD:</label>
                                                                @Html.TextBoxFor(x => Contatos[i].DDDTelefone, new { @class = "form-control form-size", data_inputmask = "'mask': '99', 'clearIncomplete': true" })
                                                                <span class="help-block">@Html.ValidationMessageFor(x => Contatos[i].DDDTelefone)</span>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <div class="form-group">
                                                                <label class="control-label">Telefone:</label>
                                                                @Html.TextBoxFor(x => Contatos[i].Telefone, new { @class = "form-control form-size", data_inputmask = "'mask': '999999999', 'clearIncomplete': false, 'placeholder': ' '" })
                                                                <span class="help-block">@Html.ValidationMessageFor(x => Contatos[i].Telefone)</span>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <div class="form-group">
                                                                <label class="control-label">DDD:</label>
                                                                @Html.TextBoxFor(x => Contatos[i].DDDCelular, new { @class = "form-control form-size", data_inputmask = "'mask': '99', 'clearIncomplete': true" })
                                                                <span class="help-block">@Html.ValidationMessageFor(x => Contatos[i].DDDTelefone)</span>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <div class="form-group">
                                                                <label class="control-label">Celular:</label>
                                                                @Html.TextBoxFor(x => Contatos[i].Celular, new { @class = "form-control form-size", data_inputmask = "'mask': '999999999', 'clearIncomplete': false, 'placeholder': ' '" })
                                                                <span class="help-block">@Html.ValidationMessageFor(x => Contatos[i].Celular)</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </fieldset>
                                            </div>
                                        </div>
                                    }

                                </fieldset>
                            }
                            <!-- Botão -->
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="well">
                                        <input type="submit" data-loading-text="Aguarde, processando..." data-complete-text="Salvar Dados" class="btn btn-primary stateful" value="Salvar Dados" />
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    }
                </div>
            </div>
        </div>
    </div>
</div>



