﻿@{
    ViewBag.Title = "Excluir";
}

@using (Html.BeginForm())
{
    <fieldset>
        <legend>Clientes - Excluir</legend>
        <div class="row">
            <div class="col-md-12">
                @Html.Raw(TempData["Alertas"])
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p>Não é possível excluir Agências</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="control-label">Clientes (Informe os códigos, separando os por vírgula):</label>
                    @Html.TextBox("Ids", null, new { @class = "form-control form-size" })
                    <span class="help-block"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="well">
                    <input type="submit" class="btn btn-primary" value="Excluir" />
                </div>
            </div>
        </div>
    </fieldset>
}
