﻿@model Sig.Web.Models.ViewModels.ClienteAgenciaViewModel

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {

            $("#Cliente_ComissaoAgente").maskMoney({ symbol: "", decimal: ",", thousands: "", defaultZero: true, allowZero: true });

            $(":input").inputmask();

            $("#enderecos :input").attr("disabled", true);

            var ceF = $("#enderecos").find(".addEnd").length;
            var ceI = 0;

            $("#enderecosClone").append($(".posAddEnd" + ceI).html());
            $(":input").inputmask();
            $("#enderecosClone .posExcEnd" + ceI + " :input").attr("disabled", false);
            ceI++;

            $("#enderecoAdicionar").click(function () {
                if (ceI < ceF) {
                    $("#enderecosClone").append($(".posAddEnd" + ceI).html());
                    $("#enderecosClone .posExcEnd" + ceI + " :input").attr("disabled", false);
                    ceI++;
                } else {
                    alert("Você não pode adicionar mais endereços.");
                }

                $(":input").inputmask();
            });

            //Endereços Excluir Dinamicamente
            $.fn.EnderecoRemover = function (data) {
                var qtde = $("#enderecosClone").find(".excEnd").length;
                if (qtde > 1) {
                    var end = $(data).data("endereco");
                    if ((qtde - 1) == end) {
                        $("#enderecosClone .posExcEnd" + end).remove();
                        ceI--;
                    } else {
                        alert("Você deve excluir o último endereço.");
                    }
                } else {
                    alert("Um endereço é obrigatório.");
                }
            };

            //Telefones Adicionar Dinamicamente
            $("#telefones :input").attr("disabled", true);

            var ctF = $("#telefones").find(".addTel").length;
            var ctI = 0;

            $("#telefonesClone").append($(".posAddTel" + ctI).html());
            $(":input").inputmask();
            $("#telefonesClone .posExcTel" + ctI + " :input").attr("disabled", false);

            ctI++;

            $("#telefoneAdicionar").click(function () {
                if (ctI < ctF) {
                    $("#telefonesClone").append($(".posAddTel" + ctI).html());
                    $("#telefonesClone .posExcTel" + ctI + " :input").attr("disabled", false);
                    ctI++;
                } else {
                    alert("Você não pode adicionar mais telefones.");
                }

                $(":input").inputmask();
            });

            //Telefones Excluir Dinamicamente
            $.fn.TelefoneRemover = function (data) {
                var qtde = $("#telefonesClone").find(".excTel").length;
                if (qtde > 1) {
                    var tel = $(data).data("telefone");
                    if ((qtde - 1) == tel) {
                        $("#telefonesClone .posExcTel" + tel).remove();
                        ctI--;
                    } else {
                        alert("Você deve excluir o último telefone.");
                    }
                } else {
                    alert("Um telefone é obrigatório.");
                }
            };

            $('#cliente-form').submit(function () {
                if ($(this).valid()) {
                    $('.stateful').button('loading');
                    return true;
                }
            });

        });
    </script>
}


<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Agentes Incluir</h2>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Adicionar</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    @using (Html.BeginForm("IncluirAgencia", "Cliente", FormMethod.Post, new { id = "cliente-form" }))
                    {
                        <fieldset>
                            <legend></legend>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label">Nome Fantasia:</label>
                                        @Html.TextBoxFor(x => x.Cliente.Nome, new { @class = "form-control form-size" })
                                        <span class="help-block">@Html.ValidationMessageFor(x => x.Cliente.Nome)</span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label">Razão Social:</label>
                                        @Html.TextBoxFor(x => x.Cliente.RazaoSocial, new { @class = "form-control form-size" })
                                        <span class="help-block">@Html.ValidationMessageFor(x => x.Cliente.RazaoSocial)</span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label">CPF/CNPJ:</label>
                                        @Html.TextBoxFor(x => x.Cliente.CPFCNPJ, new { @class = "form-control form-size", data_inputmask = "'mask': '99999999999999', 'clearIncomplete': false, 'placeholder': ' '" })
                                        <span class="help-block">@Html.ValidationMessageFor(x => x.Cliente.CPFCNPJ)</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Inscrição Estadual:</label>
                                        @Html.TextBoxFor(x => x.Cliente.InscricaoEstadual, new { @class = "form-control form-size", data_inputmask = "'alias': 'integer', 'rightAlignNumerics': false" })
                                        <span class="help-block">@Html.ValidationMessageFor(x => x.Cliente.InscricaoEstadual)</span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Inscrição Municipal:</label>
                                        @Html.TextBoxFor(x => x.Cliente.InscricaoMunicipal, new { @class = "form-control form-size", data_inputmask = "'alias': 'integer', 'rightAlignNumerics': false" })
                                        <span class="help-block">@Html.ValidationMessageFor(x => x.Cliente.InscricaoMunicipal)</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Atividade:</label>
                                        @Html.DropDownListFor(x => x.Cliente.AtividadeId, (SelectList)ViewBag.Atividades, "Selecione...", new { @class = "form-control form-size" })
                                        <span class="help-block">@Html.ValidationMessageFor(x => x.Cliente.AtividadeId)</span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Região:</label>
                                        @Html.DropDownListFor(x => x.Cliente.RegiaoId, (SelectList)ViewBag.Regioes, "Selecione...", new { @class = "form-control form-size" })
                                        <span class="help-block">@Html.ValidationMessageFor(x => x.Cliente.RegiaoId)</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Email:</label>
                                        @Html.TextBoxFor(x => x.Cliente.Email, new { @class = "form-control form-size" })
                                        <span class="help-block">@Html.ValidationMessageFor(x => x.Cliente.Email)</span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Website:</label>
                                        @Html.TextBoxFor(x => x.Cliente.Website, new { @class = "form-control form-size" })
                                        <span class="help-block">@Html.ValidationMessageFor(x => x.Cliente.Website)</span>
                                    </div>
                                </div>
                            </div>
                            <fieldset>
                                <legend>Registro Geral</legend>
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="control-label">RG:</label>
                                            @Html.TextBoxFor(x => x.Cliente.Rg, new { @class = "form-control form-size", data_inputmask = "'alias': 'integer', 'rightAlignNumerics': false" })
                                            <span class="help-block">@Html.ValidationMessageFor(x => x.Cliente.Rg)</span>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="control-label">Orgão Expedidor:</label>
                                            @Html.TextBoxFor(x => x.Cliente.RgOrgaoExpedidor, new { @class = "form-control form-size" })
                                            <span class="help-block">@Html.ValidationMessageFor(x => x.Cliente.RgOrgaoExpedidor)</span>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="control-label">Estado:</label>
                                            @Html.DropDownListFor(x => x.Cliente.RgUf, (SelectList)ViewBag.Estados, "Selecione...", new { @class = "form-control form-size" })
                                            <span class="help-block">@Html.ValidationMessageFor(x => x.Cliente.RgUf)</span>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="control-label">Data Expedição:</label>
                                            @Html.TextBoxFor(x => x.Cliente.RgDataExpedicao, new { @class = "form-control form-size", data_inputmask = "'alias': 'date', 'clearIncomplete': true" })
                                            <span class="help-block">@Html.ValidationMessageFor(x => x.Cliente.RgDataExpedicao)</span>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>

                            <fieldset>
                                <legend>Comissão do Agente (%)</legend>
                                <div class="row">
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <label class="control-label">Percentual:</label>
                                            @Html.TextBoxFor(x => x.Cliente.ComissaoAgente, new { @class = "form-control form-size" })
                                            <span class="help-block">@Html.ValidationMessageFor(x => x.Cliente.ComissaoAgente)</span>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label class="control-label">Revenda?:</label>
                                            @Html.CheckBoxFor(x => x.Cliente.IsRevenda, new { @class = "form-control form-size form-checkbox" })
                                            <span class="help-block">@Html.ValidationMessageFor(x => x.Cliente.IsRevenda)</span>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label class="control-label">Comissionamento?:</label>
                                            @Html.CheckBoxFor(x => x.Cliente.IsComissionamento, new { @class = "form-control form-size form-checkbox" })
                                            <span class="help-block">@Html.ValidationMessageFor(x => x.Cliente.IsComissionamento)</span>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>


                            <fieldset>
                                <legend>Endereços</legend>
                                <!-- Endereço Copiar -->
                                <div id="enderecos" style="display: none;">
                                    @for (var i = 0; i < 4; i++)
                                    {
                                        var posAddEnd = string.Format("posAddEnd{0}", i);
                                        var posExcEnd = string.Format("posExcEnd{0}", i);

                                        <div class="@posAddEnd addEnd">
                                            <div class="@posExcEnd excEnd">
                                                <div class="panel panel-primary" style="background-color: #f8f8f8">
                                                    <div class="panel-heading">
                                                        <h3 class="panel-title text">Endereço #@i</h3>
                                                    </div>
                                                    <div class="panel-body">
                                                        <div class="row">
                                                            <div class="col-md-2">
                                                                <div class="form-group">
                                                                    <label class="control-label">Tipo:</label>
                                                                    @Html.DropDownListFor(x => x.Enderecos[i].TipoEndereco, Html.GetEnumSelectList(typeof(Sig.Web.Models.Enums.eTipoEndereco)), new { @class = "form-control form-size" })
                                                                    <span class="help-block">@Html.ValidationMessageFor(x => x.Enderecos[i].TipoEndereco)</span>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label class="control-label">Endereço:</label>
                                                                    @Html.TextBoxFor(x => x.Enderecos[i].Logradouro, new { @class = "form-control form-size" })
                                                                    <span class="help-block">@Html.ValidationMessageFor(x => x.Enderecos[i].Logradouro)</span>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-4">
                                                                <div class="form-group">
                                                                    <label class="control-label">Número:</label>
                                                                    @Html.TextBoxFor(x => x.Enderecos[i].Numero, new { @class = "form-control form-size" })
                                                                    <span class="help-block">@Html.ValidationMessageFor(x => x.Enderecos[i].Numero)</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-8">
                                                                <div class="form-group">
                                                                    <label class="control-label">Complemento:</label>
                                                                    @Html.TextBoxFor(x => x.Enderecos[i].Complemento, new { @class = "form-control form-size" })
                                                                    <span class="help-block">@Html.ValidationMessageFor(x => x.Enderecos[i].Complemento)</span>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-4">
                                                                <div class="form-group">
                                                                    <label class="control-label">Bairro:</label>
                                                                    @Html.TextBoxFor(x => x.Enderecos[i].Bairro, new { @class = "form-control form-size" })
                                                                    <span class="help-block">@Html.ValidationMessageFor(x => x.Enderecos[i].Bairro)</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-4">
                                                                <div class="form-group">
                                                                    <label class="control-label">Cidade:</label>
                                                                    @Html.TextBoxFor(x => x.Enderecos[i].Cidade, new { @class = "form-control form-size" })
                                                                    <span class="help-block">@Html.ValidationMessageFor(x => x.Enderecos[i].Cidade)</span>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-4">
                                                                <div class="form-group">
                                                                    <label class="control-label">Estado:</label>
                                                                    @Html.DropDownListFor(x => x.Enderecos[i].UF, (SelectList)ViewBag.Estados, "Selecione...", new { @class = "form-control form-size" })
                                                                    <span class="help-block">@Html.ValidationMessageFor(x => x.Enderecos[i].UF)</span>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-3">
                                                                <div class="form-group">
                                                                    <label class="control-label">CEP:</label>
                                                                    @Html.TextBoxFor(x => x.Enderecos[i].CEP, new { @class = "form-control form-size", data_inputmask = "'mask': '99999999', 'clearIncomplete': true" })
                                                                    <span class="help-block">@Html.ValidationMessageFor(x => x.Enderecos[i].CEP)</span>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-1">
                                                                <div class="form-group">
                                                                    <label class="control-label">Rem?:</label>
                                                                    <input type="button" value="X" class="btn btn-primary" data-endereco="@i" onclick=" $.fn.EnderecoRemover(this); " />
                                                                    <span class="help-block"></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                                <!-- Endereço Clone -->
                                <div id="enderecosClone">
                                </div>
                                <input type="button" id="enderecoAdicionar" value="Adicionar Outro Endereço" class="btn btn-mini btn-primary pull-right" />
                            </fieldset>

                            <fieldset>
                                <legend>Telefones</legend>
                                <div id="telefones" style="display: none;">
                                    @for (var i = 0; i < 5; i++)
                                    {
                                        var posAddTel = string.Format("posAddTel{0}", i);
                                        var posExcTel = string.Format("posExcTel{0}", i);

                                        <div class="@posAddTel addTel">
                                            <div class=" @posExcTel excTel">
                                                <div class="panel panel-primary" style="background-color: #f8f8f8">
                                                    <div class="panel-heading">
                                                        <h3 class="panel-title text">Telefone #@i</h3>
                                                    </div>
                                                    <div class="panel-body">
                                                        <div class="row">
                                                            <div class="col-md-4">
                                                                <div class="form-group">
                                                                    <label class="control-label">Tipo:</label>
                                                                    @Html.DropDownListFor(x => x.Telefones[i].TipoTelefone, Html.GetEnumSelectList(typeof(Sig.Web.Models.Enums.eTipoTelefone)), new { @class = "form-control form-size" })
                                                                    <span class="help-block">@Html.ValidationMessageFor(x => x.Telefones[i].TipoTelefone)</span>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-3">
                                                                <div class="form-group">
                                                                    <label class="control-label">DDD:</label>
                                                                    @Html.TextBoxFor(x => x.Telefones[i].DDD, new { @class = "form-control form-size", data_inputmask = "'mask': '99', 'clearIncomplete': true" })
                                                                    <span class="help-block">@Html.ValidationMessageFor(x => x.Telefones[i].DDD)</span>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-4">
                                                                <div class="form-group">
                                                                    <label class="control-label">Número:</label>
                                                                    @Html.TextBoxFor(x => x.Telefones[i].Numero, new { @class = "form-control form-size", data_inputmask = "'mask': '999999999', 'clearIncomplete': false, 'placeholder': ' '" })
                                                                    <span class="help-block">@Html.ValidationMessageFor(x => x.Telefones[i].Numero)</span>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-1">
                                                                <div class="form-group">
                                                                    <label class="control-label">Rem?:</label>
                                                                    <input type="button" value="X" class="btn btn-primary" data-telefone="@i" onclick=" $.fn.TelefoneRemover(this); " />
                                                                    <span class="help-block"></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                                <!-- Telefone Clone -->
                                <div id="telefonesClone">
                                </div>
                                <input type="button" id="telefoneAdicionar" value="Adicionar Outro Telefone" class="btn btn-mini btn-primary pull-right" style="margin-bottom:20px" />
                            </fieldset>

                            <div class="panel panel-primary" style="background-color: #f8f8f8">
                                <div class="panel-heading">
                                    <h3 class="panel-title text">Dados do Colaborador</h3>
                                </div>
                                <div class="panel-body">
                                    <fieldset>
                                        <legend>Colaborador</legend>

                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="control-label">Nome:</label>
                                                    @Html.TextBoxFor(x => x.Colaborador.Nome, new { @class = "form-control form-size" })
                                                    <span class="help-block">@Html.ValidationMessageFor(x => x.Colaborador.Nome)</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label class="control-label">CPF:</label>
                                                    @Html.TextBoxFor(x => x.Colaborador.CPF, new { @class = "form-control form-size", data_inputmask = "'mask': '99999999999', 'clearIncomplete': true" })
                                                    <span class="help-block">@Html.ValidationMessageFor(x => x.Colaborador.CPF)</span>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label class="control-label">Data Nascimento:</label>
                                                    @Html.TextBoxFor(x => x.Colaborador.DataNascimento, new { @class = "form-control form-size", data_inputmask = "'alias': 'date', 'clearIncomplete': true" })
                                                    <span class="help-block">@Html.ValidationMessageFor(x => x.Colaborador.DataNascimento)</span>
                                                </div>
                                            </div>

                                            <div class="col-md-8">
                                                <div class="form-group">
                                                    <label class="control-label">Email:</label>
                                                    @Html.TextBoxFor(x => x.Colaborador.Email, new { @class = "form-control form-size" })
                                                    <span class="help-block">@Html.ValidationMessageFor(x => x.Colaborador.Email)</span>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                    <fieldset>
                                        <legend>Registro Geral</legend>
                                        <div class="row">
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label class="control-label">Rg:</label>
                                                    @Html.TextBoxFor(x => x.Colaborador.Rg, new { @class = "form-control form-size", data_inputmask = "'alias': 'integer', 'rightAlignNumerics': false" })
                                                    <span class="help-block">@Html.ValidationMessageFor(x => x.Colaborador.Rg)</span>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label class="control-label">Orgão Expedidor:</label>
                                                    @Html.TextBoxFor(x => x.Colaborador.RgOrgaoExpedidor, new { @class = "form-control form-size" })
                                                    <span class="help-block">@Html.ValidationMessageFor(x => x.Colaborador.RgOrgaoExpedidor)</span>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label">Rg Estado:</label>
                                                    @Html.DropDownListFor(x => x.Colaborador.RgUf, (SelectList)ViewBag.Estados, "Selecione...", new { @class = "form-control form-size" })
                                                    <span class="help-block">@Html.ValidationMessageFor(x => x.Colaborador.RgUf)</span>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label class="control-label">Data Expedição:</label>
                                                    @Html.TextBoxFor(x => x.Colaborador.RgDataExpedicao, new { @class = "form-control form-size", data_inputmask = "'alias': 'date', 'clearIncomplete': true" })
                                                    <span class="help-block">@Html.ValidationMessageFor(x => x.Colaborador.RgDataExpedicao)</span>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                    <fieldset>
                                        <legend>Endereço Contato</legend>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label">Endereço:</label>
                                                    @Html.TextBoxFor(x => x.Colaborador.Logradouro, new { @class = "form-control form-size" })
                                                    <span class="help-block">@Html.ValidationMessageFor(x => x.Colaborador.Logradouro)</span>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label">Complemento:</label>
                                                    @Html.TextBoxFor(x => x.Colaborador.Complemento, new { @class = "form-control form-size" })
                                                    <span class="help-block">@Html.ValidationMessageFor(x => x.Colaborador.Complemento)</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label class="control-label">Bairro:</label>
                                                    @Html.TextBoxFor(x => x.Colaborador.Bairro, new { @class = "form-control form-size" })
                                                    <span class="help-block">@Html.ValidationMessageFor(x => x.Colaborador.Bairro)</span>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label class="control-label">Cidade:</label>
                                                    @Html.TextBoxFor(x => x.Colaborador.Cidade, new { @class = "form-control form-size" })
                                                    <span class="help-block">@Html.ValidationMessageFor(x => x.Colaborador.Cidade)</span>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label class="control-label">CEP:</label>
                                                    @Html.TextBoxFor(x => x.Colaborador.CEP, new { @class = "form-control form-size", data_inputmask = "'mask': '99999999', 'clearIncomplete': true" })
                                                    <span class="help-block">@Html.ValidationMessageFor(x => x.Colaborador.CEP)</span>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="control-label">Estado:</label>
                                                    @Html.DropDownListFor(x => x.Colaborador.UF, (SelectList)ViewBag.Estados, "Selecione...", new { @class = "form-control form-size" })
                                                    <span class="help-block">@Html.ValidationMessageFor(x => x.Colaborador.UF)</span>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                    <fieldset>
                                        <legend>Telefones do Contato</legend>
                                        <div class="row">
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label class="control-label">DDD:</label>
                                                    @Html.TextBoxFor(x => x.Colaborador.DDDTelefone, new { @class = "form-control form-size", data_inputmask = "'mask': '99', 'clearIncomplete': true" })
                                                    <span class="help-block">@Html.ValidationMessageFor(x => x.Colaborador.DDDTelefone)</span>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="control-label">Telefone:</label>
                                                    @Html.TextBoxFor(x => x.Colaborador.Telefone, new { @class = "form-control form-size", data_inputmask = "'mask': '999999999', 'clearIncomplete': false, 'placeholder': ' '" })
                                                    <span class="help-block">@Html.ValidationMessageFor(x => x.Colaborador.Telefone)</span>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label class="control-label">DDD:</label>
                                                    @Html.TextBoxFor(x => x.Colaborador.DDDCelular, new { @class = "form-control form-size", data_inputmask = "'mask': '99', 'clearIncomplete': true" })
                                                    <span class="help-block">@Html.ValidationMessageFor(x => x.Colaborador.DDDTelefone)</span>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="control-label">Celular:</label>
                                                    @Html.TextBoxFor(x => x.Colaborador.Celular, new { @class = "form-control form-size", data_inputmask = "'mask': '999999999', 'clearIncomplete': false, 'placeholder': ' '" })
                                                    <span class="help-block">@Html.ValidationMessageFor(x => x.Colaborador.Celular)</span>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                            <!-- Botão -->
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="well">
                                        <input type="submit" data-loading-text="Aguarde, processando..." data-complete-text="Salvar Dados" class="btn btn-primary stateful" value="Salvar Dados" />
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    }
                </div>
            </div>
        </div>
    </div>
</div>