﻿@model Sig.Web.Models.ViewModels.ClienteViewModel

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {

            $(":input").inputmask();

            $("#enderecos :input").attr("disabled", true);

            var ceF = $("#enderecos").find(".addEnd").length;
            var ceI = 0;

            $("#enderecosClone").append($(".posAddEnd" + ceI).html());
            $(":input").inputmask();
            $("#enderecosClone .posExcEnd" + ceI + " :input").attr("disabled", false);
            ceI++;

            $("#enderecoAdicionar").click(function () {
                if (ceI < ceF) {
                    $("#enderecosClone").append($(".posAddEnd" + ceI).html());
                    $("#enderecosClone .posExcEnd" + ceI + " :input").attr("disabled", false);
                    ceI++;
                } else {
                    alert("Você não pode adicionar mais endereços.");
                }

                $(":input").inputmask();
            });

            //Endereços Excluir Dinamicamente
            $.fn.EnderecoRemover = function (data) {
                var qtde = $("#enderecosClone").find(".excEnd").length;
                if (qtde > 1) {
                    var end = $(data).data("endereco");
                    if ((qtde - 1) == end) {
                        $("#enderecosClone .posExcEnd" + end).remove();
                        ceI--;
                    } else {
                        alert("Você deve excluir o último endereço.");
                    }
                } else {
                    alert("Um endereço é obrigatório.");
                }
            };

            //Telefones Adicionar Dinamicamente
            $("#telefones :input").attr("disabled", true);

            var ctF = $("#telefones").find(".addTel").length;
            var ctI = 0;

            $("#telefonesClone").append($(".posAddTel" + ctI).html());
            $(":input").inputmask();
            $("#telefonesClone .posExcTel" + ctI + " :input").attr("disabled", false);

            ctI++;

            $("#telefoneAdicionar").click(function () {
                if (ctI < ctF) {
                    $("#telefonesClone").append($(".posAddTel" + ctI).html());
                    $("#telefonesClone .posExcTel" + ctI + " :input").attr("disabled", false);
                    ctI++;
                } else {
                    alert("Você não pode adicionar mais telefones.");
                }

                $(":input").inputmask();
            });

            //Telefones Excluir Dinamicamente
            $.fn.TelefoneRemover = function (data) {
                var qtde = $("#telefonesClone").find(".exctel").length;
                debugger;
                if (qtde > 1) {
                    var tel = $(data).data("telefone");
                    if ((qtde - 1) == tel) {
                        $("#telefonesClone .posExcTel" + tel).remove();
                        ctI--;
                    } else {
                        alert("Você deve excluir o último telefone.");
                    }
                } else {
                    alert("Um telefone é obrigatório.");
                }
            };

            $('#cliente-form').submit(function () {
                if ($(this).valid()) {
                    $('.stateful').button('loading');
                    return true;
                }
            });

            $("#Enderecos_0__Logradouro").blur(function () {
                $("#Contato_Logradouro").val(this.value);
            });

        });
    </script>
}


<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Clientes Cadastro</h2>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Adicionar</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    @using (Html.BeginForm("Incluir", "Cliente", FormMethod.Post, new { id = "cliente-form" }))
                    {
                        @Html.AntiForgeryToken()

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Nome Fantasia:</label>
                                    @Html.TextBoxFor(x => x.Cliente.Nome, new { @class = "form-control form-size" })
                                    <span class="help-block">@Html.ValidationMessageFor(x => x.Cliente.Nome)</span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Razão Social:</label>
                                    @Html.TextBoxFor(x => x.Cliente.RazaoSocial, new { @class = "form-control form-size" })
                                    <span class="help-block">@Html.ValidationMessageFor(x => x.Cliente.RazaoSocial)</span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">CPF/CNPJ:</label>
                                    @Html.TextBoxFor(x => x.Cliente.CPFCNPJ, new { @class = "form-control form-size", data_inputmask = "'mask': '99999999999999', 'clearIncomplete': false, 'placeholder': ' '" })
                                    <span class="help-block">@Html.ValidationMessageFor(x => x.Cliente.CPFCNPJ)</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Inscrição Estadual:</label>
                                    @Html.TextBoxFor(x => x.Cliente.InscricaoEstadual, new { @class = "form-control form-size", data_inputmask = "'alias': 'integer', 'rightAlignNumerics': false" })
                                    <span class="help-block">@Html.ValidationMessageFor(x => x.Cliente.InscricaoEstadual)</span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Inscrição Municipal:</label>
                                    @Html.TextBoxFor(x => x.Cliente.InscricaoMunicipal, new { @class = "form-control form-size", data_inputmask = "'alias': 'integer', 'rightAlignNumerics': false" })
                                    <span class="help-block">@Html.ValidationMessageFor(x => x.Cliente.InscricaoMunicipal)</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Atividade:</label>
                                    @Html.DropDownListFor(x => x.Cliente.AtividadeId, (SelectList)ViewBag.Atividades, "Selecione...", new { @class = "form-control form-size" })
                                    <span class="help-block">@Html.ValidationMessageFor(x => x.Cliente.AtividadeId)</span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Região:</label>
                                    @Html.DropDownListFor(x => x.Cliente.RegiaoId, (SelectList)ViewBag.Regioes, "Selecione...", new { @class = "form-control form-size" })
                                    <span class="help-block">@Html.ValidationMessageFor(x => x.Cliente.RegiaoId)</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Email:</label>
                                    @Html.TextBoxFor(x => x.Cliente.Email, new { @class = "form-control form-size" })
                                    <span class="help-block">@Html.ValidationMessageFor(x => x.Cliente.Email)</span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Website:</label>
                                    @Html.TextBoxFor(x => x.Cliente.Website, new { @class = "form-control form-size" })
                                    <span class="help-block">@Html.ValidationMessageFor(x => x.Cliente.Website)</span>
                                </div>
                            </div>
                        </div>
                        <fieldset>
                            <legend>Registro Geral</legend>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label">RG:</label>
                                        @Html.TextBoxFor(x => x.Cliente.Rg, new { @class = "form-control form-size", data_inputmask = "'alias': 'integer', 'rightAlignNumerics': false" })
                                        <span class="help-block">@Html.ValidationMessageFor(x => x.Cliente.Rg)</span>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label">Orgão Expedidor:</label>
                                        @Html.TextBoxFor(x => x.Cliente.RgOrgaoExpedidor, new { @class = "form-control form-size" })
                                        <span class="help-block">@Html.ValidationMessageFor(x => x.Cliente.RgOrgaoExpedidor)</span>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label">Estado:</label>
                                        @Html.DropDownListFor(x => x.Cliente.RgUf, (SelectList)ViewBag.Estados, "Selecione...", new { @class = "form-control form-size" })
                                        <span class="help-block">@Html.ValidationMessageFor(x => x.Cliente.RgUf)</span>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label">Data Expedição:</label>
                                        @Html.TextBoxFor(x => x.Cliente.RgDataExpedicao, new { @class = "form-control form-size", data_inputmask = "'alias': 'date', 'clearIncomplete': true" })
                                        <span class="help-block">@Html.ValidationMessageFor(x => x.Cliente.RgDataExpedicao)</span>
                                    </div>
                                </div>
                            </div>
                        </fieldset>

                        <fieldset>
                            <legend>Endereços</legend>
                            <!-- Endereço Copiar -->
                            <div id="enderecos" style="display: none;">
                                @for (var i = 0; i < 4; i++)
                                {
                                    var posAddEnd = string.Format("posAddEnd{0}", i);
                                    var posExcEnd = string.Format("posExcEnd{0}", i);

                                    <div class="@posAddEnd addEnd">
                                        <div class="@posExcEnd excEnd">
                                            <div class="panel panel-primary" style="background-color: #f8f8f8">
                                                <div class="panel-heading">
                                                    <h3 class="panel-title text">Endereço #@i</h3>
                                                </div>
                                                <div class="panel-body">
                                                    <div class="row">
                                                        <div class="col-md-2">
                                                            <div class="form-group">
                                                                <label class="control-label">Tipo:</label>
                                                                @Html.DropDownListFor(x => x.Enderecos[i].TipoEndereco, Html.GetEnumSelectList(typeof(Sig.Web.Models.Enums.eTipoEndereco)), new { @class = "form-control form-size" })
                                                                <span class="help-block">@Html.ValidationMessageFor(x => x.Enderecos[i].TipoEndereco)</span>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label class="control-label">Endereço:</label>
                                                                @Html.TextBoxFor(x => x.Enderecos[i].Logradouro, new { @class = "form-control form-size" })
                                                                <span class="help-block">@Html.ValidationMessageFor(x => x.Enderecos[i].Logradouro)</span>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <div class="form-group">
                                                                <label class="control-label">Número:</label>
                                                                @Html.TextBoxFor(x => x.Enderecos[i].Numero, new { @class = "form-control form-size" })
                                                                <span class="help-block">@Html.ValidationMessageFor(x => x.Enderecos[i].Numero)</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-8">
                                                            <div class="form-group">
                                                                <label class="control-label">Complemento:</label>
                                                                @Html.TextBoxFor(x => x.Enderecos[i].Complemento, new { @class = "form-control form-size" })
                                                                <span class="help-block">@Html.ValidationMessageFor(x => x.Enderecos[i].Complemento)</span>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <div class="form-group">
                                                                <label class="control-label">Bairro:</label>
                                                                @Html.TextBoxFor(x => x.Enderecos[i].Bairro, new { @class = "form-control form-size" })
                                                                <span class="help-block">@Html.ValidationMessageFor(x => x.Enderecos[i].Bairro)</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-4">
                                                            <div class="form-group">
                                                                <label class="control-label">Cidade:</label>
                                                                @Html.TextBoxFor(x => x.Enderecos[i].Cidade, new { @class = "form-control form-size" })
                                                                <span class="help-block">@Html.ValidationMessageFor(x => x.Enderecos[i].Cidade)</span>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <div class="form-group">
                                                                <label class="control-label">Estado:</label>
                                                                @Html.DropDownListFor(x => x.Enderecos[i].UF, (SelectList)ViewBag.Estados, "Selecione...", new { @class = "form-control form-size" })
                                                                <span class="help-block">@Html.ValidationMessageFor(x => x.Enderecos[i].UF)</span>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <div class="form-group">
                                                                <label class="control-label">CEP:</label>
                                                                @Html.TextBoxFor(x => x.Enderecos[i].CEP, new { @class = "form-control form-size", data_inputmask = "'mask': '99999999', 'clearIncomplete': true" })
                                                                <span class="help-block">@Html.ValidationMessageFor(x => x.Enderecos[i].CEP)</span>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-1">
                                                            <div class="form-group">
                                                                <label class="control-label">Rem?:</label>
                                                                <input type="button" value="X" class="btn btn-primary" data-endereco="@i" onclick=" $.fn.EnderecoRemover(this); " />
                                                                <span class="help-block"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                            <!-- Endereço Clone -->
                            <div id="enderecosClone">
                            </div>
                            <input type="button" id="enderecoAdicionar" value="Adicionar Outro Endereço" class="btn btn-mini btn-primary pull-right" />
                        </fieldset>

                        <fieldset>
                            <legend>Telefones</legend>
                            <div id="telefones" style="display: none;">
                                @for (var i = 0; i < 5; i++)
                                {
                                    var posAddTel = string.Format("posAddTel{0}", i);
                                    var posExcTel = string.Format("posExcTel{0}", i);

                                    <div class="@posAddTel addTel">
                                        <div class=" @posExcTel exctel">
                                            <div class="panel panel-primary" style="background-color: #f8f8f8">
                                                <div class="panel-heading">
                                                    <h3 class="panel-title text">Telefone #@i</h3>
                                                </div>
                                                <div class="panel-body">
                                                    <div class="row">
                                                        <div class="col-md-4">
                                                            <div class="form-group">
                                                                <label class="control-label">Tipo:</label>
                                                                @Html.DropDownListFor(x => x.Telefones[i].TipoTelefone, Html.GetEnumSelectList(typeof(Sig.Web.Models.Enums.eTipoTelefone)), new { @class = "form-control form-size" })
                                                                <span class="help-block">@Html.ValidationMessageFor(x => x.Telefones[i].TipoTelefone)</span>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <div class="form-group">
                                                                <label class="control-label">DDD:</label>
                                                                @Html.TextBoxFor(x => x.Telefones[i].DDD, new { @class = "form-control form-size", data_inputmask = "'mask': '99', 'clearIncomplete': true" })
                                                                <span class="help-block">@Html.ValidationMessageFor(x => x.Telefones[i].DDD)</span>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <div class="form-group">
                                                                <label class="control-label">Número:</label>
                                                                @Html.TextBoxFor(x => x.Telefones[i].Numero, new { @class = "form-control form-size", data_inputmask = "'mask': '999999999', 'clearIncomplete': false, 'placeholder': ' '" })
                                                                <span class="help-block">@Html.ValidationMessageFor(x => x.Telefones[i].Numero)</span>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-1">
                                                            <div class="form-group">
                                                                <label class="control-label">Rem?:</label>
                                                                <input type="button" value="X" class="btn btn-primary" data-telefone="@i" onclick=" $.fn.TelefoneRemover(this); " />
                                                                <span class="help-block"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                            <!-- Telefone Clone -->
                            <div id="telefonesClone">
                            </div>
                            <input type="button" id="telefoneAdicionar" value="Adicionar Outro Telefone" class="btn btn-mini btn-primary pull-right" />
                        </fieldset>

                        <fieldset>
                            <legend>Contrato</legend>
                            <div class="panel panel-primary" style="background-color: #f8f8f8">
                                <div class="panel-heading">
                                    <h3 class="panel-title text">Contrato</h3>
                                </div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="control-label">Data Inicial:</label>
                                                @Html.TextBoxFor(x => x.Contrato.DataInicial, new { @class = "form-control form-size", data_inputmask = "'alias': 'date', 'clearIncomplete': true" })
                                                <span class="help-block">@Html.ValidationMessageFor(x => x.Contrato.DataInicial)</span>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="control-label">Data Final:</label>
                                                @Html.TextBoxFor(x => x.Contrato.DataFinal, new { @class = "form-control form-size", data_inputmask = "'alias': 'date', 'clearIncomplete': true" })
                                                <span class="help-block">@Html.ValidationMessageFor(x => x.Contrato.DataFinal)</span>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label">Dia Cobrança:</label>
                                                @Html.DropDownListFor(x => x.Contrato.DiaCobrancaId, (SelectList)ViewBag.DiasCobranca, "Selecione...", new { @class = "form-control form-size" })
                                                <span class="help-block">@Html.ValidationMessageFor(x => x.Contrato.DiaCobrancaId)</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label">Tabela de Preços:</label>
                                                @Html.DropDownListFor(x => x.Contrato.TabelaId, (SelectList)ViewBag.Tabelas, "Selecione...", new { @class = "form-control form-size" })
                                                <span class="help-block">@Html.ValidationMessageFor(x => x.Contrato.TabelaId)</span>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label">Vendedor:</label>
                                                @Html.DropDownListFor(x => x.Contrato.VendedorId, (SelectList)ViewBag.Colaboradores, "Selecione...", new { @class = "form-control form-size" })
                                                <span class="help-block">@Html.ValidationMessageFor(x => x.Contrato.VendedorId)</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label class="control-label">Taxa Extra?:</label>
                                                @Html.CheckBoxFor(x => x.Contrato.IsTaxaExtra, new { @class = "form-control form-size form-checkbox" })
                                                <span class="help-block"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label class="control-label">Cobra Aniversário?:</label>
                                                @Html.CheckBoxFor(x => x.Contrato.IsAniversario, new { @class = "form-control form-size form-checkbox" })
                                                <span class="help-block"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="control-label">Renovação Automática?:</label>
                                                @Html.CheckBoxFor(x => x.Contrato.IsRenovacaoAutomatica, new { @class = "form-control form-size form-checkbox" })
                                                <span class="help-block"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label class="control-label">Envia Email?:</label>
                                                @Html.CheckBoxFor(x => x.Contrato.IsEnviaEmail, new { @class = "form-control form-size form-checkbox" })
                                                <span class="help-block"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="control-label">Despesa Bancária?:</label>
                                                @Html.CheckBoxFor(x => x.Contrato.IsDespesaBancaria, new { @class = "form-control form-size form-checkbox" })
                                                <span class="help-block"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>

                        <div class="panel panel-primary" style="background-color: #f8f8f8">
                            <div class="panel-heading">
                                <h3 class="panel-title text">Dados do Contato</h3>
                            </div>
                            <div class="panel-body">
                                <fieldset>
                                    <legend>Contato</legend>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="control-label">Cargo:</label>
                                                @Html.DropDownListFor(x => x.Contato.CargoId, (SelectList)ViewBag.Cargos, "Selecione...", new { @class = "form-control form-size" })
                                                <span class="help-block">@Html.ValidationMessageFor(x => x.Contato.CargoId)</span>
                                            </div>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="form-group">
                                                <label class="control-label">Nome:</label>
                                                @Html.TextBoxFor(x => x.Contato.Nome, new { @class = "form-control form-size" })
                                                <span class="help-block">@Html.ValidationMessageFor(x => x.Contato.Nome)</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label class="control-label">CPF:</label>
                                                @Html.TextBoxFor(x => x.Contato.CPF, new { @class = "form-control form-size", data_inputmask = "'mask': '99999999999', 'clearIncomplete': true" })
                                                <span class="help-block">@Html.ValidationMessageFor(x => x.Contato.CPF)</span>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label class="control-label">Data Nascimento:</label>
                                                @Html.TextBoxFor(x => x.Contato.DataNascimento, new { @class = "form-control form-size", data_inputmask = "'alias': 'date', 'clearIncomplete': true" })
                                                <span class="help-block">@Html.ValidationMessageFor(x => x.Contato.DataNascimento)</span>
                                            </div>
                                        </div>

                                        <div class="col-md-8">
                                            <div class="form-group">
                                                <label class="control-label">Email:</label>
                                                @Html.TextBoxFor(x => x.Contato.Email, new { @class = "form-control form-size" })
                                                <span class="help-block">@Html.ValidationMessageFor(x => x.Contato.Email)</span>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                                <fieldset>
                                    <legend>Dados Registro Geral</legend>
                                    <div class="row">
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label class="control-label">Rg:</label>
                                                @Html.TextBoxFor(x => x.Contato.Rg, new { @class = "form-control form-size", data_inputmask = "'alias': 'integer', 'rightAlignNumerics': false" })
                                                <span class="help-block">@Html.ValidationMessageFor(x => x.Contato.Rg)</span>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label class="control-label">Orgão Expedidor:</label>
                                                @Html.TextBoxFor(x => x.Contato.RgOrgaoExpedidor, new { @class = "form-control form-size" })
                                                <span class="help-block">@Html.ValidationMessageFor(x => x.Contato.RgOrgaoExpedidor)</span>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label">Rg Estado:</label>
                                                @Html.DropDownListFor(x => x.Contato.RgUf, (SelectList)ViewBag.Estados, "Selecione...", new { @class = "form-control form-size" })
                                                <span class="help-block">@Html.ValidationMessageFor(x => x.Contato.RgUf)</span>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label class="control-label">Data Expedição:</label>
                                                @Html.TextBoxFor(x => x.Contato.RgDataExpedicao, new { @class = "form-control form-size", data_inputmask = "'alias': 'date', 'clearIncomplete': true" })
                                                <span class="help-block">@Html.ValidationMessageFor(x => x.Contato.RgDataExpedicao)</span>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                                <fieldset>
                                    <legend>Endereço Contato</legend>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label">Endereço:</label>
                                                @Html.TextBoxFor(x => x.Contato.Logradouro, new { @class = "form-control form-size" })
                                                <span class="help-block">@Html.ValidationMessageFor(x => x.Contato.Logradouro)</span>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label">Complemento:</label>
                                                @Html.TextBoxFor(x => x.Contato.Complemento, new { @class = "form-control form-size" })
                                                <span class="help-block">@Html.ValidationMessageFor(x => x.Contato.Complemento)</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="control-label">Bairro:</label>
                                                @Html.TextBoxFor(x => x.Contato.Bairro, new { @class = "form-control form-size" })
                                                <span class="help-block">@Html.ValidationMessageFor(x => x.Contato.Bairro)</span>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="control-label">Cidade:</label>
                                                @Html.TextBoxFor(x => x.Contato.Cidade, new { @class = "form-control form-size" })
                                                <span class="help-block">@Html.ValidationMessageFor(x => x.Contato.Cidade)</span>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label class="control-label">CEP:</label>
                                                @Html.TextBoxFor(x => x.Contato.CEP, new { @class = "form-control form-size", data_inputmask = "'mask': '99999999', 'clearIncomplete': true" })
                                                <span class="help-block">@Html.ValidationMessageFor(x => x.Contato.CEP)</span>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="control-label">Estado:</label>
                                                @Html.DropDownListFor(x => x.Contato.UF, (SelectList)ViewBag.Estados, "Selecione...", new { @class = "form-control form-size" })
                                                <span class="help-block">@Html.ValidationMessageFor(x => x.Contato.UF)</span>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                                <fieldset>
                                    <legend>Telefones do Contato</legend>
                                    <div class="row">
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label class="control-label">DDD:</label>
                                                @Html.TextBoxFor(x => x.Contato.DDDTelefone, new { @class = "form-control form-size", data_inputmask = "'mask': '99', 'clearIncomplete': true" })
                                                <span class="help-block">@Html.ValidationMessageFor(x => x.Contato.DDDTelefone)</span>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="control-label">Telefone:</label>
                                                @Html.TextBoxFor(x => x.Contato.Telefone, new { @class = "form-control form-size", data_inputmask = "'mask': '999999999', 'clearIncomplete': false, 'placeholder': ' '" })
                                                <span class="help-block">@Html.ValidationMessageFor(x => x.Contato.Telefone)</span>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label class="control-label">DDD:</label>
                                                @Html.TextBoxFor(x => x.Contato.DDDCelular, new { @class = "form-control form-size", data_inputmask = "'mask': '99', 'clearIncomplete': true" })
                                                <span class="help-block">@Html.ValidationMessageFor(x => x.Contato.DDDTelefone)</span>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="control-label">Celular:</label>
                                                @Html.TextBoxFor(x => x.Contato.Celular, new { @class = "form-control form-size", data_inputmask = "'mask': '999999999', 'clearIncomplete': false, 'placeholder': ' '" })
                                                <span class="help-block">@Html.ValidationMessageFor(x => x.Contato.Celular)</span>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                        <!-- Botão -->
                        <div class="row">
                            <div class="col-md-12">
                                <div class="well">
                                    <input type="submit" data-loading-text="Aguarde, processando..." data-complete-text="Salvar Dados" class="btn btn-primary stateful" value="Salvar Dados" />
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>