﻿@model PlanilhaSerasa

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $(":input").inputmask();
            $('#importar-form').submit(function () {
                if ($(this).valid()) {
                    $('.stateful').button('loading');
                    return true;
                }
            });
        });
    </script>
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Importar Planilha Serasa</h2>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Adicionar</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    @using (Html.BeginForm("Planilha", "Importar", FormMethod.Post, new { enctype = "multipart/form-data", id = "importar-form" }))
                    {

                        <p>Instruções:</p>
                        <p>Salvar Cópia do arquivo na extensão XLS;</p>
                        <p><strong>Trocar os nomes das colunas pelos nomes:</strong></p>
                        <p>POSICAO | CNPJ | RAZAOSOCIAL | DATACONSULTA | PRODUTO | LOGON | QUANTIDADE</p>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label">Cliente: (Opcional)</label>
                                    @Html.TextBoxFor(x => x.ClienteId, new { @class = "form-control form-size", data_inputmask = "'alias': 'integer', 'rightAlignNumerics': false" })
                                    <span class="help-block">@Html.ValidationMessageFor(x => x.ClienteId)</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label">Planilha:</label>
                                    @Html.TextBoxFor(x => x.Arquivo, new { @class = "form-control form-size", type = "file" })
                                    <span class="help-block">@Html.ValidationMessageFor(x => x.Arquivo)</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Data Inicial Faturamento:</label>
                                    @Html.TextBoxFor(x => x.DataInicial, new { @class = "form-control form-size", data_inputmask = "'alias': 'date', 'clearIncomplete': true" })
                                    <span class="help-block">@Html.ValidationMessageFor(x => x.DataInicial)</span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Data Final Faturamento:</label>
                                    @Html.TextBoxFor(x => x.DataFinal, new { @class = "form-control form-size", data_inputmask = "'alias': 'date', 'clearIncomplete': true" })
                                    <span class="help-block">@Html.ValidationMessageFor(x => x.DataFinal)</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="well">
                                    <input type="submit" data-loading-text="Aguarde, processando..." data-complete-text="Salvar" class="btn btn-primary btn-sm stateful" value="Salvar" />
                                </div>
                            </div>
                        </div>

                    }
                </div>
            </div>
        </div>
    </div>
</div>