﻿@model TabelaRevenda

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Tabelas Revendas - Incluir</h2>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Editar</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    @using (Html.BeginForm())
                    {
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Revenda:</label>
                                    @Html.DropDownListFor(x => x.ClienteId, (SelectList)ViewBag.Clientes, "Selecione...", new { @class = "form-control form-size" })
                                    <span class="help-block">@Html.ValidationMessageFor(x => x.ClienteId)</span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Tabela:</label>
                                    @Html.DropDownListFor(x => x.TabelaId, (SelectList)ViewBag.Tabelas, "Selecione...", new { @class = "form-control form-size" })
                                    <span class="help-block">@Html.ValidationMessageFor(x => x.TabelaId)</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="well">
                                    <input type="submit" class="btn btn-primary" value="Salvar" />
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>