﻿@model Sig.Web.Models.ViewModels.FaturamentoPorClienteViewModel

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $(":input").inputmask();
            $('#gerar-form').submit(function () {
                if ($(this).valid()) {
                    $('.stateful').button('loading');
                    return true;
                }
            });
        });
    </script>
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Faturamento - Por Cliente</h2>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Adicionar</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    @using (Html.BeginForm("GerarPorCliente", "Faturamento", FormMethod.Post, new { id = "gerar-form" }))
                    {

                        <div class="row">
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label class="control-label">Cliente:</label>
                                    @Html.TextBoxFor(x => x.ClienteId, new { @class = "form-control form-size", data_inputmask = "'alias': 'integer', 'rightAlignNumerics': false" })
                                    <span class="help-block">@Html.ValidationMessageFor(x => x.ClienteId)</span>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="form-group">
                                    <label class="control-label">Data Inicial:</label>
                                    @Html.TextBoxFor(x => x.DataInicial, new { @class = "form-control form-size", data_inputmask = "'alias': 'date', 'clearIncomplete': true" })
                                    <span class="help-block">@Html.ValidationMessageFor(x => x.DataInicial)</span>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="form-group">
                                    <label class="control-label">Data Final:</label>
                                    @Html.TextBoxFor(x => x.DataFinal, new { @class = "form-control form-size", data_inputmask = "'alias': 'date', 'clearIncomplete': true" })
                                    <span class="help-block">@Html.ValidationMessageFor(x => x.DataFinal)</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label">Data Vencimento (Caso Data Especifica):</label>
                                    @Html.TextBoxFor(x => x.DataVencimento, new { @class = "form-control form-size", data_val = false, data_inputmask = "'alias': 'date', 'clearIncomplete': true" })
                                    <span class="help-block">@Html.ValidationMessageFor(x => x.DataVencimento)</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="well">
                                    <input type="submit" data-loading-text="Aguarde, processando..." data-complete-text="Gerar Faturamento" class="btn btn-primary stateful" value="Gerar Faturamento Por Cliente" />
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>