﻿@model Revenda

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $(":input").inputmask();
            $("[name*=Valor]").maskMoney({ symbol: "", decimal: ",", thousands: "", defaultZero: true, allowZero: true });
        });
    </script>
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Revendas</h2>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Editar</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    @using (Html.BeginForm())
                    {

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label">Cliente:</label>
                                    @Html.HiddenFor(x => x.Id)
                                    @Html.TextBoxFor(x => x.ClienteId, new { @class = "form-control form-size" })
                                    <span class="help-block">@Html.ValidationMessageFor(x => x.ClienteId)</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <table id="data-table" class="table table-striped table-hover table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Item Faturável</th>
                                            <th>Custo</th>
                                            <th>Valor de Revenda</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model.RevendaItens.Count > 0)
                                        {
                                            for (int i = 0; i < Model.RevendaItens.Count(); i++)
                                            {
                                                <tr>
                                                    <td>
                                                        @Html.HiddenFor(x => x.RevendaItens[i].RevendaId)
                                                        @Html.HiddenFor(x => x.RevendaItens[i].Id)
                                                        @Html.HiddenFor(x => x.RevendaItens[i].ItemFaturavelId)
                                                        @Html.DisplayFor(x => x.RevendaItens[i].ItemFaturavel.Descricao)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(x => x.RevendaItens[i].ItemFaturavel.CustoUnitario)
                                                    </td>
                                                    <td>
                                                        @Html.TextBoxFor(x => x.RevendaItens[i].Valor, new { @class = "form-control form-size" })
                                                    </td>
                                                </tr>
                                            }
                                        }
                                        else
                                        {
                                            <tr>
                                                <td colspan="3">Nenhum registro encontrado.</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="well">
                                    <input type="submit" class="btn btn-primary" value="Alterar" />
                                </div>
                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>
</div>