﻿@model PedidoCredito

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Confirmação Manual do Pedido</h2>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Adicionar</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    @using (Html.BeginForm())
                    {
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label">Cliente:</label>
                                    @Html.HiddenFor(x => x.PedidoCreditoId)
                                    @Html.HiddenFor(x => x.ClienteId)
                                    @Html.HiddenFor(x => x.CreditoId)
                                    @Html.HiddenFor(x => x.Referencia)
                                    @Html.TextBoxFor(x => x.Cliente.Nome, new { @class = "form-control form-size", disabled = "disabled" })
                                    <span class="help-block"></span>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label">Crédito:</label>
                                    @Html.TextBoxFor(x => x.Credito.Descricao, new { @class = "form-control form-size", disabled = "disabled" })
                                    <span class="help-block"></span>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label">Data do Pedido:</label>
                                    @Html.TextBoxFor(x => x.Data, new { @class = "form-control form-size", disabled = "disabled" })
                                    <span class="help-block"></span>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label">Código Transação:</label>
                                    @Html.TextBoxFor(x => x.CodigoTransacao, new { @class = "form-control form-size", disabled = "disabled" })
                                    <span class="help-block"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="well">
                                    <input type="submit" class="btn btn-primary btn-sm" value="Aprovar?" />
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>