﻿@model PedidoCredito

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Crédito - Pedido Confirmado</h2>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Pedido</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-md-12">
                            <table id="data-table" class="table table-striped table-hover table-bordered">
                                <thead>
                                    <tr>
                                        <th>Pedido</th>
                                        <th>Cliente</th>
                                        <th>Email</th>
                                        <th>Plano</th>
                                        <th>Data</th>
                                        <th>Data Confirmação</th>
                                        <th>Data Vencimento</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>@Html.DisplayFor(x => x.PedidoCreditoId)</td>
                                        <td>@Html.DisplayFor(x => x.Cliente.Nome)</td>
                                        <td>@Html.DisplayFor(x => x.Cliente.Email)</td>
                                        <td>@Html.DisplayFor(x => x.Credito.Descricao)</td>
                                        <td>@Html.DisplayFor(x => x.Data)</td>
                                        <td>@Html.DisplayFor(x => x.DataConfirmacao)</td>
                                        <td>@Html.DisplayFor(x => x.DataVencimento)</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>