﻿@model Sig.Web.Models.ViewModels.PedidoCreditoViewModel

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Pedidos</h2>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Pesquisa</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    @using (Html.BeginForm())
                    {

                        <div class="row">
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label class="control-label">Código do Cliente:</label>
                                    @Html.TextBoxFor(x => x.PedidoCredito.ClienteId, new { @class = "form-control form-size", data_val = false })
                                    <span class="help-block"></span>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label class="control-label">Código do Pedido:</label>
                                    @Html.TextBoxFor(x => x.PedidoCredito.PedidoCreditoId, new { @class = "form-control form-size", data_val = false })
                                    <span class="help-block"></span>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="form-group">
                                    <label class="control-label">Nome do Cliente:</label>
                                    @Html.TextBoxFor(x => x.PedidoCredito.Cliente.Nome, new { @class = "form-control form-size", data_val = false })
                                    <span class="help-block"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="well">
                                    <input type="submit" class="btn btn-primary btn-sm" value="Pesquisar" />
                                    @Html.ActionLink("Novo", "Incluir", null, new { @class = "btn btn-primary" })
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Resultado da pesquisa</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-md-12">
                            <table id="data-table" class="table table-striped table-hover table-bordered">
                                <thead>
                                    <tr>
                                        <th>Pedido</th>
                                        <th>Nome</th>
                                        <th>Crédito</th>
                                        <th>Confirmado?</th>
                                        <th>Data</th>
                                        <th>Data Confirmação</th>
                                        <th>Ações</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.PedidoCreditos.Count() > 0)
                                    {
                                        foreach (var pedido in Model.PedidoCreditos)
                                        {
                                            <tr>
                                                <td style="text-align:center;">@Html.DisplayFor(x => pedido.PedidoCreditoId)</td>
                                                <td>@Html.DisplayFor(x => pedido.Cliente.Nome)</td>
                                                <td>@Html.DisplayFor(x => pedido.Credito.Descricao)</td>
                                                <td>@Html.DisplayFor(x => pedido.IsConfirmado)</td>
                                                <td>@Html.DisplayFor(x => pedido.Data)</td>
                                                <td>@Html.DisplayFor(x => pedido.DataConfirmacao)</td>
                                                <td>
                                                    @Html.ActionLink("Confirmação Manual", "ConfirmacaoManual", new { id = pedido.PedidoCreditoId })
                                                </td>
                                            </tr>
                                        }
                                    }
                                    else
                                    {
                                        <tr>
                                            <td colspan="7">Nenhum registro encontrado.</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
