﻿@model Sig.Web.Models.ViewModels.BloqueioViewModel
@{
    ViewBag.Title = User.IsInRole("Administradora") ? "Bloqueio de Agências/Clientes" : "Bloqueio de Clientes";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>@ViewBag.Title</h2>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Pesquisa</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    @using (Html.BeginForm())
                    {

                        <div class="row">
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label class="control-label">Cliente:</label>
                                    @Html.TextBoxFor(x => x.Cliente.ClienteId, new { @class = "form-control form-size", data_val = false })
                                    <span class="help-block"></span>
                                </div>
                            </div>
                            @if (User.IsInRole("Administradora"))
                            {
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label class="control-label">Agência:</label>
                                        @Html.TextBoxFor(x => x.Cliente.AgenciaId, new { @class = "form-control form-size", data_val = false })
                                        <span class="help-block"></span>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label class="control-label">Logon:</label>
                                        @Html.TextBoxFor(x => x.Serasa.Logon, new { @class = "form-control form-size", data_val = false })
                                        <span class="help-block"></span>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label">Logon:</label>
                                        @Html.TextBoxFor(x => x.Serasa.Logon, new { @class = "form-control form-size", data_val = false })
                                        <span class="help-block"></span>
                                    </div>
                                </div>
                            }
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label">CPF/CNPJ:</label>
                                    @Html.TextBoxFor(x => x.Cliente.CPFCNPJ, new { @class = "form-control form-size", data_val = false })
                                    <span class="help-block"></span>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label">Contrato:</label>
                                    @Html.TextBoxFor(x => x.Contrato.ContratoId, new { @class = "form-control form-size", data_val = false })
                                    <span class="help-block"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Nome:</label>
                                    @Html.TextBoxFor(x => x.Cliente.Nome, new { @class = "form-control form-size", data_val = false })
                                    <span class="help-block"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Razão Social:</label>
                                    @Html.TextBoxFor(x => x.Cliente.RazaoSocial, new { @class = "form-control form-size", data_val = false })
                                    <span class="help-block"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="well">
                                    <input type="submit" class="btn btn-primary" value="Pesquisar" />
                                </div>
                            </div>
                        </div>

                    }
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Resultado da pesquisa</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-md-12">
                            <table id="data-table" class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Cliente</th>
                                        <th>Agência</th>
                                        <th>Nome</th>
                                        <th>Razão Social</th>
                                        <th>Documento</th>
                                        <th>Ações</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model != null)
                                    {
                                        if (Model.Clientes.Count() > 0)
                                        {
                                            int posicao = 1;
                                            foreach (var cliente in Model.Clientes)
                                            {
                                                <tr class="active">
                                                    <td>@posicao.ToString()</td>
                                                    <td>@Html.DisplayFor(x => cliente.ClienteId)</td>
                                                    <td>@Html.DisplayFor(x => cliente.AgenciaId)</td>
                                                    <td>@Html.DisplayFor(x => cliente.Nome)</td>
                                                    <td>@Html.DisplayFor(x => cliente.RazaoSocial)</td>
                                                    <td>@Html.DisplayFor(x => cliente.CPFCNPJ)</td>
                                                    <td>
                                                        @if (cliente.IsAtivo)
                                                        {
                                                            @Html.ActionLink("Bloquear", "Status", new { id = cliente.ClienteId })
                                                        }
                                                        else
                                                        {
                                                            @Html.ActionLink("Desbloquear", "Status", new { id = cliente.ClienteId })
                                                        }
                                                    </td>
                                                </tr>
                                                posicao++;
                                            }
                                        }
                                        else
                                        {
                                            <tr>
                                                <td colspan="7">Nenhum registro encontrado.</td>
                                            </tr>
                                        }
                                    }
                                    else
                                    {
                                        <tr>
                                            <td colspan="7">Nenhum registro encontrado.</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




