﻿@model Sig.Web.ViewModels.Agencia.PagarMeVm.AtualizarFaturaViewModel

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $(":input").inputmask();
            $("#ValorJuros, #ValorDesconto").maskMoney({ symbol: "", decimal: ",", thousands: "", defaultZero: true, allowZero: true });
        });
    </script>
}


<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Pagar.Me</h2>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Adicionar</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    @using (Html.BeginForm())
                    {

                        <div class="row">
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label class="control-label">Código da Fatura:</label>
                                    @Html.TextBoxFor(x => x.FaturamentoId, new { @class = "form-control form-size", data_inputmask = "'alias': 'integer', 'rightAlignNumerics': false" })
                                    <span class="help-block">@Html.ValidationMessageFor(x => x.FaturamentoId)</span>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="form-group">
                                    <label class="control-label">Nova Data de Vencimento:</label>
                                    @Html.TextBoxFor(x => x.DataVencimento, new { @class = "form-control form-size", data_inputmask = "'alias': 'date', 'clearIncomplete': true" })
                                    <span class="help-block">@Html.ValidationMessageFor(x => x.DataVencimento)</span>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label class="control-label">Taxa do Boleto?:</label>
                                    @Html.CheckBoxFor(x => x.IsTaxaBoleto, new { @class = "form-control form-size form-checkbox" })
                                    <span class="help-block"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Valor Juros:</label>
                                    @Html.TextBoxFor(x => x.ValorJuros, new { @class = "form-control form-size" })
                                    <span class="help-block">@Html.ValidationMessageFor(x => x.ValorJuros)</span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Valor Desconto:</label>
                                    @Html.TextBoxFor(x => x.ValorDesconto, new { @class = "form-control form-size" })
                                    <span class="help-block">@Html.ValidationMessageFor(x => x.ValorDesconto)</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label">Observações:</label>
                                    @Html.TextAreaFor(x => x.Observacao, new { @class = "form-control" })
                                    <span class="help-block">@Html.ValidationMessageFor(x => x.Observacao)</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="well">
                                    <input type="submit" class="btn btn-primary" value="Reenviar" />
                                </div>
                            </div>
                        </div>

                    }
                </div>
            </div>
        </div>
    </div>
</div>