﻿@model PagarMe

@{
    ViewBag.AddEdit = Model.Id > 0 ? "Adicionar" : "Alterar";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Pagar.Me - @ViewBag.AddEdit</h2>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Editar</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Default Api Key:</label>
                                    @Html.HiddenFor(x => x.Id)
                                    @Html.TextBoxFor(x => x.DefaultApiKey, new { @class = "form-control form-size" })
                                    <span class="help-block">@Html.ValidationMessageFor(x => x.DefaultApiKey)</span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Post Back Url:</label>
                                    @Html.TextBoxFor(x => x.PostBackUrl, new { @class = "form-control form-size" })
                                    <span class="help-block">@Html.ValidationMessageFor(x => x.PostBackUrl)</span>
                                </div>
                            </div>
                        </div>

                        <hr />
                        <div class="row">
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label class="control-label">Ativo?:</label>
                                    @Html.CheckBoxFor(x => x.IsAtivo, new { @class = "form-control form-size form-checkbox" })
                                    <span class="help-block">@Html.ValidationMessageFor(x => x.IsAtivo)</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="well">
                                    <input type="submit" class="btn btn-primary" value="Salvar" />
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>