﻿@model Sig.Web.Models.ViewModels.AtendimentoIncluirViewModel

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Atendimentos</h2>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-primary" style="background-color: #f1f1f1">
                        <div class="panel-heading">
                            <h3 class="panel-title text">Atendimento: <strong>@Html.DisplayFor(x => Model.Cliente.Nome) (@Html.DisplayFor(x => Model.Cliente.ClienteId))</strong></h3>
                        </div>
                        <div class="panel-body">
                            @using (Html.BeginForm())
                            {
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label">Assunto:</label>
                                            @Html.HiddenFor(x => x.Atendimento.ClienteId)
                                            @Html.DropDownListFor(x => x.Atendimento.AssuntoId, (SelectList)ViewBag.Assuntos, "Selecione...", new { @class = "form-control form-size" })
                                            <span class="help-block">@Html.ValidationMessageFor(x => x.Atendimento.AssuntoId)</span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label">Meio:</label>
                                            @Html.DropDownListFor(x => x.Atendimento.Meio, (SelectList)ViewBag.Meios, "Selecione...", new { @class = "form-control form-size" })
                                            <span class="help-block">@Html.ValidationMessageFor(x => x.Atendimento.Meio)</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="control-label">Descrição:</label>
                                            @Html.TextAreaFor(x => x.Atendimento.Descricao, new { @class = "form-control", @rows = 4 })
                                            <span class="help-block">@Html.ValidationMessageFor(x => x.Atendimento.Descricao)</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="well">
                                            <input type="submit" class="btn btn-primary" value="Incluir" />
                                            <a asp-action="Index" class="btn btn-default">Voltar</a>
                                        </div>
                                    </div>
                                </div>
                            }
                            <div class="row">
                                <div class="col-md-12">
                                    <ul class="nav nav-tabs" style="margin-top: 20px;">
                                        <li class="nav-item">
                                            <a class="nav-link active" href="#atendimento" data-toggle="tab">Atendimentos</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#contrato" data-toggle="tab">Contratos</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#financeiro" data-toggle="tab">Financeiro</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#contato" data-toggle="tab">Contatos</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#endereco" data-toggle="tab">Endereços</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#telefone" data-toggle="tab">Telefones</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#serasa" data-toggle="tab">Serasa</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#pre-pago" data-toggle="tab">Alterar para Pré-Pago</a>
                                        </li>
                                        @if (User.IsInRole("Administradora"))
                                        {
                                            <li>
                                                <a class="nav-link" href="#excluir_cliente" data-toggle="tab">Excluir</a>
                                            </li>
                                        }
                                    </ul>
                                    <div class="tab-content">
                                        <!-- Atendimentos -->
                                        <div class="tab-pane active" id="atendimento">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <table id="tabela-atendimento" class="table table-striped table-hover table-bordered">
                                                        <thead>
                                                            <tr>
                                                                <th>Código</th>
                                                                <th>Data</th>
                                                                <th>Assunto</th>
                                                                <th>Descrição</th>
                                                                <th>Meio</th>
                                                                <th>Usuário</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @if (Model?.Cliente?.Atendimentos?.Count > 0)
                                                            {
                                                                foreach (var atendimento in Model.Cliente.Atendimentos.OrderByDescending(c => c.AtendimentoId).Take(100))
                                                                {
                                                                    <tr>
                                                                        <td>@atendimento.AtendimentoId</td>
                                                                        <td>@atendimento.Data</td>
                                                                        <td>@atendimento.Assunto.Descricao</td>
                                                                        <td>@atendimento.Descricao</td>
                                                                        <td>@atendimento.Meio</td>
                                                                        <td>@atendimento.Colaborador.Nome</td>
                                                                    </tr>
                                                                }
                                                            }
                                                            else
                                                            {
                                                                <tr>
                                                                    <td colspan="6">Nenhum registro encontrado.</td>
                                                                </tr>
                                                            }
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Fim Atendimentos -->
                                        <!-- Contratos -->
                                        <div class="tab-pane" id="contrato">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <table class="table table-striped table-hover table-bordered">
                                                        <thead>
                                                            <tr>
                                                                <th>Contrato</th>
                                                                <th>Data Entrada</th>
                                                                <th>Data Cancelamento</th>
                                                                <th>Vendedor</th>
                                                                <th>Tabela</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @if (Model?.Cliente?.Contratos?.Count > 0)
                                                            {
                                                                foreach (var contrato in Model.Cliente.Contratos)
                                                                {
                                                                    <tr>
                                                                        <td>@contrato.ContratoId</td>
                                                                        <td>@contrato.DataCadastro</td>
                                                                        <td>@contrato.DataCancelamento</td>
                                                                        <td>@contrato.Vendedor.Nome  <span class="label label-default">@contrato.VendedorId</span></td>
                                                                        <td><a href="javascript:Tabela(@contrato.TabelaId);">@contrato.Tabela.Descricao</a><span class="label label-default">@contrato.TabelaId</span></td>
                                                                    </tr>
                                                                }
                                                            }
                                                            else
                                                            {
                                                                <tr>
                                                                    <td colspan="5">Nenhum registro encontrado.</td>
                                                                </tr>
                                                            }
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Fim Contratos -->
                                        <!-- Financeiro -->
                                        <div class="tab-pane" id="financeiro">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <table class="table table-striped table-hover table-bordered">
                                                        <thead>
                                                            <tr>
                                                                <th>Fatura</th>
                                                                <th>Tipo</th>
                                                                <th>Data Emissão</th>
                                                                <th>Data Vencimento</th>
                                                                <th>Data Pagamento</th>
                                                                <th>Valor Original</th>
                                                                <th>Valor Pago</th>
                                                                <th></th>
                                                                <th></th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @if (Model?.Cliente?.Faturamentos?.Count > 0)
                                                            {
                                                                foreach (var faturamento in Model.Cliente.Faturamentos)
                                                                {
                                                                    <tr class="@( faturamento.ValorPago.HasValue ? "success" : "")">
                                                                        <td>@faturamento.FaturamentoId</td>
                                                                        <td>@faturamento.TipoPagamento.ToString().ToUpper()</td>
                                                                        <td>@faturamento.DataEmissao</td>
                                                                        <td>@string.Format("{0:dd/MM/yyyy}", @faturamento.DataVencimento)</td>
                                                                        <td>@string.Format("{0:dd/MM/yyyy}", faturamento.DataPagamento)</td>
                                                                        <td>@string.Format("{0:c}", faturamento.ValorOriginal)</td>
                                                                        <td>@string.Format("{0:c}", @faturamento.ValorPago)</td>

                                                                        @if (!faturamento.ValorPago.HasValue)
                                                                        {
                                                                            @*<td>@Html.ActionLink("Boleto", "AnaliseFaturamentoBoleto", new { controller = "Relatorio", id = faturamento.FaturamentoId })</td>*@
                                                                            <td><a href="@faturamento.LinkBoleto" target="_blank">Boleto</a></td>
                                                                        }
                                                                        else
                                                                        {
                                                                            <td></td>
                                                                        }

                                                                        <td>@Html.ActionLink("Detalhes", "AnaliseFaturamentoDetalhe", new { controller = "Relatorio", id = faturamento.FaturamentoId })</td>
                                                                    </tr>
                                                                }
                                                            }
                                                            else
                                                            {
                                                                <tr>
                                                                    <td colspan="8">Nenhum registro encontrado.</td>
                                                                </tr>
                                                            }
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Fim Financeiro -->
                                        <!-- Contatos -->
                                        <div class="tab-pane" id="contato">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <table class="table table-striped table-hover table-bordered">
                                                        <thead>
                                                            <tr>
                                                                <th>Nome</th>
                                                                <th>CPF</th>
                                                                <th>Data Nascimento</th>
                                                                <th>Cargo</th>
                                                                <th>Telefone</th>
                                                                <th>Celular</th>
                                                                <th>Email</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @if (Model?.Cliente?.Contatos?.Count > 0)
                                                            {
                                                                foreach (var contato in Model.Cliente.Contatos)
                                                                {
                                                                    <tr>
                                                                        <td>@contato.Nome</td>
                                                                        <td>@contato.CPF</td>
                                                                        <td>@contato.DataNascimento.ToShortDateString()</td>
                                                                        <td>@contato.Cargo.Descricao</td>
                                                                        <td>(@contato.DDDTelefone) @contato.Telefone</td>
                                                                        <td>(@contato.DDDCelular) @contato.Celular</td>
                                                                        <td>@contato.Email</td>
                                                                    </tr>
                                                                }
                                                            }
                                                            else
                                                            {
                                                                <tr>
                                                                    <td colspan="7">Nenhum registro encontrado.</td>
                                                                </tr>
                                                            }
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Fim Contatos -->
                                        <!-- Endereços -->
                                        <div class="tab-pane" id="endereco">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <table class="table table-striped table-hover table-bordered">
                                                        <thead>
                                                            <tr>
                                                                <th>Tipo</th>
                                                                <th>Endereço</th>
                                                                <th>Complemento</th>
                                                                <th>Bairro</th>
                                                                <th>Cidade</th>
                                                                <th>UF</th>
                                                                <th>CEP</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @if (Model?.Cliente?.Enderecos?.Count > 0)
                                                            {
                                                                foreach (var endereco in Model.Cliente.Enderecos)
                                                                {
                                                                    <tr>
                                                                        <td>@endereco.TipoEndereco</td>
                                                                        <td>@endereco.Logradouro</td>
                                                                        <td>@endereco.Complemento</td>
                                                                        <td>@endereco.Bairro</td>
                                                                        <td>@endereco.Cidade</td>
                                                                        <td>@endereco.UF</td>
                                                                        <td>@endereco.CEP</td>
                                                                    </tr>
                                                                }
                                                            }
                                                            else
                                                            {
                                                                <tr>
                                                                    <td colspan="7">Nenhum registro encontrado.</td>
                                                                </tr>
                                                            }
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Fim Endereços -->
                                        <!-- Telefones -->
                                        <div class="tab-pane" id="telefone">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <table class="table table-striped table-hover table-bordered">
                                                        <thead>
                                                            <tr>
                                                                <th>Tipo</th>
                                                                <th>Telefone</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @if (Model?.Cliente?.Telefones?.Count > 0)
                                                            {
                                                                foreach (var telefone in Model.Cliente.Telefones)
                                                                {
                                                                    <tr>
                                                                        <td>@telefone.TipoTelefone</td>
                                                                        <td>(@telefone.DDD) @telefone.Numero</td>
                                                                    </tr>
                                                                }
                                                            }
                                                            else
                                                            {
                                                                <tr>
                                                                    <td colspan="5">Nenhum registro encontrado.</td>
                                                                </tr>
                                                            }
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Fim Telefones -->
                                        <!-- Serasa -->
                                        <div class="tab-pane" id="serasa">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <table class="table table-striped table-hover table-bordered">
                                                        <thead>
                                                            <tr>
                                                                <th>Logon</th>
                                                                <th>Ativo?</th>
                                                                <th>Inclusão?</th>
                                                                <th>Observação</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @if (Model?.Cliente?.Serasas?.Count > 0)
                                                            {
                                                                foreach (var serasa in Model.Cliente.Serasas)
                                                                {
                                                                    <tr>
                                                                        <td>@serasa.Logon</td>
                                                                        <td>@Html.CheckBox("IsAtivo", serasa.IsAtivo, new { disabled = "disabled" })</td>
                                                                        <td>@Html.CheckBox("IsInclusao", serasa.IsInclusao, new { disabled = "disabled" })</td>
                                                                        <td>@serasa.Observacao</td>
                                                                    </tr>
                                                                }
                                                            }
                                                            else
                                                            {
                                                                <tr>
                                                                    <td colspan="4">Nenhum registro encontrado.</td>
                                                                </tr>
                                                            }
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Fim Serasa -->
                                        <!-- Pré-Pago -->
                                        <div class="tab-pane" id="pre-pago">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    @if (Model.Cliente != null && Model.Cliente.TipoCliente != Sig.Web.Models.Enums.eTipoCliente.PrePago)
                                                    {
                                                        <br />
                                                        <p>Após alterado não poderá ser desfeito.</p>
                                                        <a href="@Url.Action("AlterarPrePago", "Atendimento", new { id = Model.Cliente.ClienteId })" onclick="return confirm('Tem certeza que deseja alterar definitivamente este cliente? Não será possível desfazer.')" class="btn btn-danger">Alterar para Pré-Pago</a>
                                                    }
                                                    else
                                                    {
                                                        <p>Cliente já é Pré-Pago.</p>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Pré-Pago -->
                                        <!-- Excluir Cliente -->
                                        @if (User.IsInRole("Administradora"))
                                        {
                                            <div class="tab-pane" id="excluir_cliente">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <br />
                                                        <p>Após excluído não poderá ser desfeito.</p>
                                                        <a href="@Url.Action("Excluir", "Atendimento", new { id = Model?.Cliente?.ClienteId ?? 0 })" onclick="return confirm('Tem certeza que deseja excluir definitivamente este cliente? Não será possível desfazer.')" class="btn btn-danger">Excluir Definitivamente</a>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                        <!-- Fim Excluir Cliente-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
