﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sig</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Add local styles, mostly for plugins css file -->
    @if (IsSectionDefined("Styles"))
    {@RenderSection("Styles", required: false)}

    <environment names="Development">
        <link rel="stylesheet" href="~/css/site.css">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.css" />
        <link rel="stylesheet" href="~/css/animate.css" />
        <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/mvc-grid/mvc-grid.css">
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/css/site.css">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css" />
        <link rel="stylesheet" href="~/css/animate.css" />
        <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/mvc-grid/mvc-grid.css">
    </environment>
</head>
<body>


    <!-- Wrapper-->
    <div id="wrapper" class="@Html.PageClass()">

        <!-- Navigation -->
        <partial name="_Navigation" />

        <!-- Page wraper -->
        <div id="page-wrapper" class="gray-bg @ViewBag.SpecialClass">

            <!-- Top Navbar -->
            <partial name="_TopNavbar" />

            <!-- Main view  -->
            @RenderBody()

            <!-- Footer -->
            <partial name="_Footer" />

        </div>
        <!-- End page wrapper-->

    </div>
    <!-- End wrapper-->

    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/Popper/popper.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/lib/metisMenu/dist/jquery.metisMenu.js"></script>
        <script src="~/lib/slimScroll/jquery.slimscroll.js"></script>
        <script src="~/lib/pace/pace.js"></script>
        <script src="~/js/script.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
        <!-- Only for demo purpose -->
        <script src="~/js/skin.config.js"></script>
        <script src="~/js/mvc-grid/mvc-grid.js"></script>
        <script src="~/lib/jquery-maskMoney/jquery.maskMoney.js"></script>
        <script src="~/lib/jquery-inputmask/jquery.inputmask.js"></script>
        <script src="~/lib/jquery-inputmask/jquery.inputmask.extensions.js"></script>
        <script src="~/lib/jquery-inputmask/jquery.inputmask.date.extensions.js"></script>
        <script src="~/lib/jquery-inputmask/jquery.inputmask.numeric.extensions.js"></script>
        <script>
            document.querySelectorAll(".mvc-grid").forEach(element => new MvcGrid(element));
        </script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/Popper/popper.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="~/lib/metisMenu/dist/jquery.metisMenu.js"></script>
        <script src="~/lib/pace/pace.min.js"></script>
        <script src="~/lib/slimScroll/jquery.slimscroll.min.js"></script>
        <script src="~/js/script.js" asp-append-version="true"></script>
        <script src="~/js/mvc-grid/mvc-grid.js"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
        <script src="~/lib/jquery-maskMoney/jquery.maskMoney.js"></script>
        <script src="~/lib/jquery-inputmask/jquery.inputmask.js"></script>
        <script src="~/lib/jquery-inputmask/jquery.inputmask.extensions.js"></script>
        <script src="~/lib/jquery-inputmask/jquery.inputmask.date.extensions.js"></script>
        <script src="~/lib/jquery-inputmask/jquery.inputmask.numeric.extensions.js"></script>
        <script>
            document.querySelectorAll(".mvc-grid").forEach(element => new MvcGrid(element));
        </script>

    </environment>

    <script>
        //Corrige a validação de decimal
        $.validator.methods.number = function (value, element) {
            return this.optional(element) || /^-?(?:\d+|\d{1,3}(?:\.\d{3})+)?(?:,\d+)?$/.test(value);
        }
    </script>

    @RenderSection("scripts", required: false)
    @await Component.InvokeAsync("Notyf")
</body>
</html>
