﻿@inject Sig.Web.Interfaces.IUsuarioLogado UsuarioLogado

<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="block m-t-xs font-bold">@UsuarioLogado.ObterNomeClienteTruncado()</span>
                        <span class="text-muted text-xs block">@UsuarioLogado.ObterNomeColaborador() <b class="caret"></b></span>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs" style="position: absolute; top: 91px; left: 0px; will-change: top, left;">
                        <li><a class="dropdown-item" asp-action="Logout" asp-controller="Usuario" asp-area="Agencias">Sair</a></li>
                    </ul>
                </div>
                <div class="logo-element">
                    SIG
                </div>
            </li>
            @*<li class="@Html.IsSelected(controller: "Home", action: "Main")">
                    <a href="@Url.Action("Inicial", "Home")"><i class="fa fa-diamond"></i> <span class="nav-label">Main</span> <span class="label label-primary float-right">Main</span></a>
                </li>*@

            @if (UsuarioLogado.ObterPagina() == "Agencias")
            {
                <li>
                    <a href="#"><i class="fa fa-user"></i> <span class="nav-label">Relacionamento</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse">
                        @if (User.IsInRole("Administradora"))
                        {
                            <li>@Html.ActionLink("Atendimentos", "Index", "Atendimento", new { area = "Agencias" })</li>
                            <li>@Html.ActionLink("Assuntos do Atendimento", "Index", "Assunto", new { area = "Agencias" })</li>
                            <li>@Html.ActionLink("Usuários da Administradora", "Index", "Usuario", new { area = "Agencias" })</li>
                            <li>@Html.ActionLink("Usuários Agências", "Index", "UsuarioAgencia", new { area = "Agencias" })</li>
                            <li>@Html.ActionLink("Usuários de Consulta", "Index", "UsuarioConsulta", new { area = "Agencias" })</li>
                        }
                        else
                        {
                            <li>@Html.ActionLink("Usuários da Agência", "Index", "Usuario", new { area = "Agencias" })</li>
                            <li>@Html.ActionLink("Usuários de Consulta", "Index", "UsuarioConsulta", new { area = "Agencias" })</li>
                        }
                    </ul>
                </li>
                @if (User.IsInRole("Administradora"))
                {
                    <li>
                        <a href="#"><i class="fa fa-money"></i> <span class="nav-label">Financeiro</span><span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level collapse">

                            <li>@Html.ActionLink("Baixa e Estorno", "Fatura", "Financeiro", new { area = "Agencias" })</li>
                            <li>@Html.ActionLink("Importar Planilha Serasa", "Planilha", "Importar", new { area = "Agencias" }))</li>
                            <li>@Html.ActionLink("Gerar Faturamento", "Gerar", "Faturamento", new { area = "Agencias" })</li>
                            <li>@Html.ActionLink("Gerar Faturamento Por Agência", "GerarPorAgencia", "Faturamento", new { area = "Agencias" })</li>
                            <li>@Html.ActionLink("Gerar Faturamento Por Cliente", "GerarPorCliente", "Faturamento", new { area = "Agencias" })</li>
                        </ul>
                    </li>
                }

                @if (User.IsInRole("Administradora"))
                {
                    <li>
                        <a href="#"><i class="fa fa-money"></i> <span class="nav-label">Pagar.Me</span><span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level collapse">
                            <li>@Html.ActionLink("Envio de Faturas", "Envio", "PagarMe", new { area = "Agencias" })</li>
                            <li>@Html.ActionLink("Envio de Faturas Por Agência", "EnvioPorAgencia", "PagarMe", new { area = "Agencias" })</li>
                            <li>@Html.ActionLink("Atualizar e Reenviar Fatura de Cliente", "AtualizarFatura", "PagarMe", new { area = "Agencias" })</li>
                            <li>@Html.ActionLink("Verificar Faturas Baixadas", "VerificarFatura", "PagarMe", new { area = "Agencias" })</li>
                        </ul>
                    </li>
                }


                <li>
                    <a href="#"><i class="fa fa-table"></i> <span class="nav-label">Tabelas de Preços</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse">
                        @if (User.IsInRole("Administradora"))
                        {
                            <li>@Html.ActionLink("Consultas Relacionadas", "Index", "ItemFaturavelRelacionado", new { area = "Agencias" })</li>
                            <li>@Html.ActionLink("Itens Faturáveis", "Index", "ItemFaturavel", new { area = "Agencias" })</li>
                            <li>@Html.ActionLink("Consultas", "Index", "Consulta", new { area = "Agencias" })</li>
                            <li>@Html.ActionLink("Tabelas de Preços", "Index", "Tabela", new { area = "Agencias" })</li>
                            <li>@Html.ActionLink("Tabelas de Preços - Reajuste", "Reajuste", "Tabela", new { area = "Agencias" })</li>
                            <li>@Html.ActionLink("Tabelas de Preços - Reajuste por Agência", "ReajustePorAgencia", "Tabela", new { area = "Agencias" })</li>
                            <li>@Html.ActionLink("Tabelas Revendas", "Index", "TabelaRevenda", new { area = "Agencias" })</li>
                            <li>@Html.ActionLink("Tabelas de Preços Agências", "Index", "TabelaAgencia", new { area = "Agencias" })</li>
                            <li>@Html.ActionLink("Tabelas Inativas", "Inativa", "Tabela", new { area = "Agencias" })</li>
                            <li>@Html.ActionLink("Tabelas Especiais", "Especial", "Tabela", new { area = "Agencias" })</li>
                            <li>@Html.ActionLink("Adicionar Transação", "Incluir", "TransacaoConsulta", new { area = "Agencias" })</li>
                        }
                        else
                        {
                            <li>@Html.ActionLink("Tabelas de Preços", "IndexAgencia", "Tabela", new { area = "Agencias" })</li>
                            <li>@Html.ActionLink("Tabelas de Preços - Reajuste", "Reajuste", "Tabela", new { area = "Agencias" })</li>
                            <li>@Html.ActionLink("Consultas", "Index", "Consulta", new { area = "Agencias" })</li>
                        }
                    </ul>
                </li>
                <li>
                    <a href="#"><i class="fa fa-th-list"></i> <span class="nav-label">Contratos</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse">
                        <li>@Html.ActionLink("Contratos", "Index", "Contrato", new { area = "Agencias" })</li>
                        <li>@Html.ActionLink("Novo Contrato", "Incluir", "Contrato", new { area = "Agencias" })</li>
                    </ul>
                </li>

                @if (User.IsInRole("Administradora"))
                {
                    <li>
                        <a href="#"><i class="fa fa-money"></i> <span class="nav-label">Pré-Pago</span><span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level collapse">
                            <li>@Html.ActionLink("Créditos", "Index", "Credito", new { area = "Agencias" })</li>
                            <li>@Html.ActionLink("Pedidos", "Index", "PedidoCredito", new { area = "Agencias" })</li>
                        </ul>
                    </li>
                }

                <li>
                    <a href="#"><i class="fa fa-users"></i> <span class="nav-label">Clientes / Agentes</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse">
                        <li>@Html.ActionLink("Clientes", "Index", "Cliente", new { area = "Agencias" })</li>
                        <li>@Html.ActionLink("Novo Cliente", "Incluir", "Cliente", new { area = "Agencias" })</li>
                        @if (User.IsInRole("Administradora"))
                        {
                            <li>@Html.ActionLink("Novo Agente", "IncluirAgencia", "Cliente", new { area = "Agencias" })</li>
                            <li>@Html.ActionLink("Migrar Cliente", "Migrar", "Cliente", new { area = "Agencias" })</li>
                        }
                        <li>@Html.ActionLink("Contatos", "Index", "Contato", new { area = "Agencias" })</li>
                        <li>@Html.ActionLink("Regiões", "Index", "Regiao", new { area = "Agencias" })</li>
                        <li>@Html.ActionLink("Cargos", "Index", "Cargo", new { area = "Agencias" })</li>
                    </ul>
                </li>
                <li>
                    <a href="#"><i class="fa fa-users"></i> <span class="nav-label">Colaboradores</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse">
                        <li>@Html.ActionLink("Colaboradores", "Index", "Colaborador", new { area = "Agencias" })</li>
                        <li>@Html.ActionLink("Novo Colaborador", "Incluir", "Colaborador", new { area = "Agencias" })</li>
                    </ul>
                </li>
                <li>
                    <a href="#"><i class="fa fa-area-chart"></i> <span class="nav-label">Relatórios</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse">
                        <li>@Html.ActionLink("Clientes", "Cliente", "Relatorio", new { area = "Agencias" })</li>
                        <li>@Html.ActionLink("Clientes Bloqueados", "ClienteBloqueado", "Relatorio", new { area = "Agencias" })</li>
                        <li>@Html.ActionLink("Agências", "Agencia", "Relatorio", new { area = "Agencias" })</li>
                        <li>@Html.ActionLink("Consultas Realizadas", "ConsultasRealizadas", "Relatorio", new { area = "Agencias" })</li>
                        <li>@Html.ActionLink("Contas a Receber", "ContasReceber", "Relatorio", new { area = "Agencias" })</li>
                        <li>@Html.ActionLink("Contas Recebidas", "ContasRecebidas", "Relatorio", new { area = "Agencias" })</li>
                        <li>@Html.ActionLink("Relatório Clientes Devedores", "ClientesDevedores", "Relatorio", new { area = "Agencias" })</li>
                        <li>@Html.ActionLink("Relatório Análise Faturamento", "AnaliseFaturamentoConsulta", "Relatorio", new { area = "Agencias" })</li>
                        <li>@Html.ActionLink("Relatório Clientes Prospectos", "Prospectos", "Relatorio", new { area = "Agencias" })</li>
                    </ul>
                </li>
                <li>
                    <a href="#"><i class="fa fa-ban"></i> <span class="nav-label">Bloqueios</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse">
                        @{
                            string titulo = User.IsInRole("Administradora") ? "Bloqueio de Agências/Clientes" : "Bloqueio de Clientes";
                        }
                        <li>@Html.ActionLink(titulo, "Index", "Bloqueio", new { area = "Agencias" })</li>
                    </ul>
                </li>
                <li>
                    <a href="#"><i class="fa fa-cogs"></i> <span class="nav-label">Configurações</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse">
                        <li>@Html.ActionLink("Pagar.Me", "Index", "PagarMe", new { area = "Agencias" })</li>
                        <li>@Html.ActionLink("SendGrid - Envio de Emails", "Index", "ConfigSendGrid", new { area = "Agencias" })</li>
                        <li>@Html.ActionLink("Dias de Cobrança", "Index", "DiaCobranca", new { area = "Agencias" })</li>
                        <li>@Html.ActionLink("Geral", "Index", "Configuracao", new { area = "Agencias" })</li>
                    </ul>
                </li>
            }

            @if (UsuarioLogado.ObterPagina() == "Consultas")
            {
                <li>
                    <a href="@Url.Action("Index", "Consulta", new { area = "Consultas" })"><i class="fa fa-diamond"></i> <span class="nav-label">Consultas</span> <span class="label label-primary float-right">Consultas</span></a>
                </li>
                @*<li>
                    <a href="#"><i class="fa fa-cogs"></i> <span class="nav-label">Gerenciar</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse">
                        <li>@Html.ActionLink("Transações Realizadas", "Index", "TransacaoConsulta", new { area = "Consultas" })</li>
                    </ul>
                </li>*@
            }
        </ul>
    </div>
</nav>