﻿@model Faturamento

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $(":input").inputmask();
            $("#ValorPago").maskMoney({ symbol: "", decimal: ",", thousands: "", defaultZero: true, allowZero: false });
        });
    </script>
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Baixar Fatura</h2>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Adicionar</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    @using (Html.BeginForm())
                    {
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h3 class="panel-title text">Baixa de Fatura</h3>
                            </div>
                            <div class="panel-body">
                                <fieldset>
                                    <legend>Preencha e clique em baixar</legend>
                                    <div class="row">
                                        <div class="col-md-12">
                                            @Html.Raw(TempData["Alertas"])
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label class="control-label">Fatura:</label>
                                                @Html.HiddenFor(x => x.FaturamentoId)
                                                @Html.TextBoxFor(x => x.FaturamentoId, new { @class = "form-control form-size", disabled = "disabled" })
                                                <span class="help-block"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label class="control-label">Data Vencimento:</label>
                                                @Html.TextBoxFor(x => x.DataVencimento, new { @class = "form-control form-size", disabled = "disabled" })
                                                <span class="help-block"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label class="control-label">Valor Original:</label>
                                                @Html.TextBoxFor(x => x.ValorOriginal, new { @class = "form-control form-size", disabled = "disabled" })
                                                <span class="help-block"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label class="control-label">Valor Pago:</label>
                                                @Html.TextBoxFor(x => x.ValorPago, new { @class = "form-control form-size" })
                                                <span class="help-block">@Html.ValidationMessageFor(x => x.ValorPago)</span>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label class="control-label">Data Pagamento:</label>
                                                @Html.TextBoxFor(x => x.DataPagamento, new { @class = "form-control form-size", data_inputmask = "'alias': 'date', 'clearIncomplete': true" })
                                                <span class="help-block">@Html.ValidationMessageFor(x => x.DataPagamento)</span>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label class="control-label">Tipo:</label>
                                                @Html.DropDownListFor(x => x.TipoPagamento, Html.GetEnumSelectList(typeof(Sig.Web.Models.Enums.eTipoPagamento)), new { @class = "form-control form-size" })
                                                <span class="help-block">@Html.ValidationMessageFor(x => x.TipoPagamento)</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="well">
                                                <input type="submit" class="btn btn-primary btn-sm" value="Baixar Fatura" />
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

