﻿@model Sig.Web.Models.ViewModels.Financeiro.FaturaViewModel

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $(":input").inputmask();
        });
    </script>
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Faturas</h2>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Pesquisa</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    @using (Html.BeginForm())
                    {

                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label">Cliente:</label>
                                    @Html.TextBoxFor(x => x.ClienteId, new { @class = "form-control form-size", data_val = false, data_inputmask = "'alias': 'integer', 'rightAlignNumerics': false" })
                                    <span class="help-block"></span>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label">Fatura:</label>
                                    @Html.TextBoxFor(x => x.FaturamentoId, new { @class = "form-control form-size", data_val = false, data_inputmask = "'alias': 'integer', 'rightAlignNumerics': false" })
                                    <span class="help-block"></span>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label">Data Inicial:</label>
                                    @Html.TextBoxFor(x => x.DataInicialFatura, new { @class = "form-control form-size", data_val = false, data_inputmask = "'alias': 'date', 'clearIncomplete': true" })
                                    <span class="help-block"></span>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label">Data Final:</label>
                                    @Html.TextBoxFor(x => x.DataFinalFatura, new { @class = "form-control form-size", data_val = false, data_inputmask = "'alias': 'date', 'clearIncomplete': true" })
                                    <span class="help-block"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="well">
                                    <input type="submit" class="btn btn-primary btn-sm" value="Pesquisar" />
                                </div>
                            </div>
                        </div>

                    }
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Resultado da pesquisa</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-md-12">
                            <table id="data-table" class="table table-striped table-hover table-bordered">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Fatura</th>
                                        <th>Cliente</th>
                                        <th>Valor Original</th>
                                        <th>Data Vencimento</th>
                                        <th>Data Pagamento</th>
                                        <th>Ação</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model != null && Model.Faturamentos.Count() > 0)
                                    {
                                        int posicao = 1;
                                        foreach (var faturamento in Model.Faturamentos)
                                        {
                                            string style = faturamento.ValorPago.HasValue ? "success" : null;

                                            <tr class="@style">
                                                <td>@posicao.ToString()</td>
                                                <td>@Html.DisplayFor(x => faturamento.FaturamentoId)</td>
                                                <td>@Html.DisplayFor(x => faturamento.ClienteId)</td>
                                                <td>@faturamento.ValorOriginal.ToString("c")</td>
                                                <td>@faturamento.DataVencimento.ToString("dd/MM/yyyy")</td>
                                                <td>@(!faturamento.DataPagamento.HasValue ? "" : faturamento.DataPagamento.Value.ToString("MM/dd/yyyy"))</td>
                                                @if (!faturamento.ValorPago.HasValue)
                                                {
                                                    <td>
                                                        @Html.ActionLink("Baixar", "Baixar", new { id = faturamento.FaturamentoId })
                                                    </td>
                                                }
                                                else
                                                {
                                                    <td>
                                                        @Html.ActionLink("Estornar", "Estornar", new { id = faturamento.FaturamentoId })
                                                    </td>
                                                }
                                            </tr>
                                            posicao++;
                                        }
                                    }
                                    else
                                    {
                                        <tr>
                                            <td colspan="7">Nenhum registro encontrado.</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





