﻿@model IEnumerable<Sig.Web.Models.ViewModels.RetornoBancarioViewModel>

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Retorno Bancário</h2>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Pesquisa</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    @using (Html.BeginForm("RetornoBancario", "Financeiro", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {

                        <div class="row">
                            <div class="col-md-12">
                                <div class="panel panel-default">
                                    <div class="panel-heading">Legenda</div>
                                    <div class="panel-body">
                                        NN = Nosso Número, CO = Código de Ocorrência, DO = Data Ocorrência, DC = Data Crédito, VP = Valor Pago, VMP = Valor Multa Paga, VJP = Valor Juros Pago, TC = Taxa de Cobrança, VC = Valor Crédito, ND = Número do Documento, MOC = Motivo Ocorrência Código, MO = Motivo Ocorrência
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label">Arquivo de Retorno:</label>
                                    @Html.TextBox("Arquivo", null, new { @class = "btn btn-default", type = "file" })
                                    <span class="help-block"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="well">
                                    <input type="submit" class="btn btn-primary btn-sm" value="Importar" />
                                    @Html.ActionLink("Baixar", "Incluir", null, new { @class = "btn btn-primary" })
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Resultado da pesquisa</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-md-12">
                            <table id="data-table" class="table table-striped table-hover table-bordered">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>NN</th>
                                        <th>CO</th>
                                        <th>DO</th>
                                        <th>DC</th>
                                        <th>VP</th>
                                        <th>VMP</th>
                                        <th>VJP</th>
                                        <th>TC</th>
                                        <th>VC</th>
                                        <th>ND</th>
                                        <th>MOC</th>
                                        <th>MO</th>
                                        <th>Sacado</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model != null)
                                    {
                                        if (Model.Count() > 0)
                                        {
                                            int posicao = 1;
                                            foreach (var retorno in Model)
                                            {
                                                <tr>
                                                    <td>@posicao.ToString()</td>
                                                    <td>@Html.DisplayFor(x => retorno.NossoNumero)</td>
                                                    <td>@Html.DisplayFor(x => retorno.CodigoOcorrencia)</td>
                                                    <td>@Html.DisplayFor(x => retorno.DataOcorrencia)</td>
                                                    <td>@Html.DisplayFor(x => retorno.DataCredito)</td>
                                                    <td>@Html.DisplayFor(x => retorno.ValorPago)</td>
                                                    <td>@Html.DisplayFor(x => retorno.ValorMultaPaga)</td>
                                                    <td>@Html.DisplayFor(x => retorno.ValorJurosPago)</td>
                                                    <td>@Html.DisplayFor(x => retorno.ValorTaxaCobranca)</td>
                                                    <td>@Html.DisplayFor(x => retorno.ValorCredito)</td>
                                                    <td>@Html.DisplayFor(x => retorno.NumeroDocumento)</td>
                                                    <td>@Html.DisplayFor(x => retorno.MotivoOcorrenciaCodigo)</td>
                                                    <td>@Html.DisplayFor(x => retorno.MotivoOcorrenciaDescricao)</td>
                                                    <td>@Html.DisplayFor(x => retorno.NomeSacado)</td>
                                                </tr>
                                                posicao++;
                                            }
                                        }
                                        else
                                        {
                                            <tr>
                                                <td colspan="14">Nenhum registro encontrado.</td>
                                            </tr>
                                        }
                                    }
                                    else
                                    {
                                        <tr>
                                            <td colspan="14">Nenhum registro encontrado.</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





