﻿@model Sig.Web.Models.ViewModels.ItemFaturavelRelacionadoViewModel

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $(":input").inputmask();
        });
    </script>
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Consultas Relacionadas</h2>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Pesquisa</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    @using (Html.BeginForm())
                    {
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Item Faturável:</label>
                                    @Html.TextBoxFor(x => x.ItemFaturavelRelacionado.ItemFaturavelId, new { @class = "form-control form-size", data_val = false, data_inputmask = "'alias': 'integer', 'rightAlignNumerics': false" })
                                    <span class="help-block"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Descrição do Item Relacionado:</label>
                                    @Html.TextBoxFor(x => x.ItemFaturavelRelacionado.Descricao, new { @class = "form-control form-size", data_val = false })
                                    <span class="help-block"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="well">
                                    <input type="submit" class="btn btn-primary" value="Pesquisar" />
                                    @Html.ActionLink("Incluir", "Incluir", null, new { @class = "btn btn-primary" })
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Resultado da pesquisa</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-md-12">
                            <table id="data-table" class="table table-striped table-hover table-bordered">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>ID</th>
                                        <th>Item Faturável</th>
                                        <th>Relação</th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.ItensFaturaveisRelacionados.Count() > 0)
                                    {
                                        int posicao = 1;
                                        foreach (var itemfaturavelRelacionado in Model.ItensFaturaveisRelacionados)
                                        {
                                            <tr>
                                                <td>@posicao.ToString()</td>
                                                <td>@Html.DisplayFor(x => itemfaturavelRelacionado.ItemFaturavelRelacionadoId)</td>
                                                <td>@Html.DisplayFor(x => itemfaturavelRelacionado.ItemFaturavel.Descricao)</td>
                                                <td>@Html.DisplayFor(x => itemfaturavelRelacionado.Descricao)</td>
                                                <td>
                                                    @Html.ActionLink("Alterar", "Alterar", new { id = itemfaturavelRelacionado.ItemFaturavelRelacionadoId })
                                                </td>
                                                <td>
                                                    @Html.ActionLink("Excluir", "Excluir", new { id = itemfaturavelRelacionado.ItemFaturavelRelacionadoId }, new { onclick = "return confirm('Confirma a exclusão desta relação?');" })
                                                </td>
                                            </tr>
                                            posicao++;
                                        }
                                    }
                                    else
                                    {
                                        <tr>
                                            <td colspan="9">Nenhum registro encontrado.</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>